/* Layout */

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin: 0;
  background: $background;
}

/* Phone Layout */

@include tx-media(phone) {

  @import '_layout-phone';

}

/* Print Layout */

@include tx-media(print) {

  @import '_layout-print';

}
