<section class="controls">
  <a href="#" id="showLocations" class="showLocations" tabindex="2">
    <span class="showLocationsIcon">Locations</span>
  </a>
  <a href="#" id="showTopDown" class="showTopDown" tabindex="3">
    <span class="showTopDownIcon">Top-Down View</span>
  </a>
  <a href="#" id="rotateCCW" class="rotateCCW" tabindex="4">
    <span class="rotateCCWIcon">Rotate Counterclockwise</span>
  </a>
  <a href="#" id="rotateCW" class="rotateCW" tabindex="5">
    <span class="rotateCWIcon">Rotate Clockwise</span>
  </a>
  <a href="#" id="zoomOut" class="zoomOut" tabindex="6">
    <span class="zoomOutIcon">Zoom Out</span>
  </a>
  <a href="#" id="zoomIn" class="zoomIn" tabindex="7">
    <span class="zoomInIcon">Zoom In</span>
  </a>
  <a href="#" id="reset" class="reset" tabindex="8">
    <span class="resetIcon">Reset</span>
  </a>
  <a href="#" id="fullScreen" class="fullScreen" tabindex="9">
    <span class="fullScreenIcon">Full Screen</span>
  </a>
</section>
<a href="#" id="showHelp" class="showHelp" tabindex="10">
  <span class="showHelpIcon">Help</span>
</a>
