<section class="controls">
  <a href="#" id="showLocations" class="showLocations showLocations-is-active" tabindex="2">Locations</a>
  <a href="#" id="showTopDown" class="showTopDown" tabindex="3">Top-Down View</a>
  <a href="#" id="rotateCCW" class="rotateCCW" tabindex="4">Rotate Counterclockwise</a>
  <a href="#" id="rotateCW" class="rotateCW" tabindex="5">Rotate Clockwise</a>
  <a href="#" id="zoomOut" class="zoomOut" tabindex="6">Zoom Out</a>
  <a href="#" id="zoomIn" class="zoomIn" tabindex="7">Zoom In</a>
  <a href="#" id="reset" class="reset" tabindex="8">Reset</a>
  <a href="#" id="fullScreen" class="fullScreen" tabindex="9">Full Screen</a>
  <!-- <a href="#" id="showPanorama" class="panorama">Panorama</a> -->
  <!-- <a href="#" id="pan" class="pan">Pan</a> -->
</section>
<a href="#" id="showHelp" class="showHelp" tabindex="10">Help</a>
