<div id="help" class="help">
  <div class="helpContent">
    <div class="helpTouch">
      <div class="helpTouchSingle"></div>
      <div class="helpTouchDouble"></div>
      <div class="helpTouchPinch"></div>
    </div>
    <div class="helpMouse">
      <div class="helpMouseLeft"></div>
      <div class="helpMouseRight"></div>
      <div class="helpMouseWheel"></div>
    </div>
    <div class="helpKeyboard">
      <div class="helpKeyboardKey1"></div>
      <div class="helpKeyboardKey2"></div>
      <div class="helpKeyboardKeySpace"></div>
      <div class="helpKeyboardKeyUp"></div>
      <div class="helpKeyboardKeyLeft"></div>
      <div class="helpKeyboardKeyDown"></div>
      <div class="helpKeyboardKeyRight"></div>
      <div class="helpKeyboardKeyPgUp"></div>
      <div class="helpKeyboardKeyPgDown"></div>
    </div>
  </div>
  <a href="#" id="closeHelp" class="closeHelp">Close Help</a>
</div>
