/* Controls */

.controls {
  @include tx-layer(content, 2);
  position: absolute;
  top: $gap;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .mdz-touchevents & {
    top: 0;
    right: $gap;
    bottom: 0;
    left: auto;
    flex-direction: column;
    width: auto;
  }

}

%control {
  position: relative;
  display: block;
  height: 0;
  margin: 0 $gap;
  text-indent: -10000px;

  .mdz-touchevents & {
    margin: $gap 0;
  }

}

%controlTransition {
  transition: $UITransitionDefault;
}

.showLocations {
  @extend %control;
  @include tx-sprite($spt-showLocations, $block: true);

  &:before,
  &:after {
    @extend %controlTransition;
    @include tx-pseudo;
  }

  &:before {
    @include tx-sprite($spt-showLocationsHole, $block: true);
    top: 4px;
    left: 4px;
  }

  &:after {
    @include tx-sprite($spt-hideLocationsMarker, $block: true);
    top: 0;
    left: -1px;
    opacity: 0;
  }

  &-is-active {

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }

  }

}

.showTopDown {
  @extend %control;
  width: txf-sprite-width($spt-topDown) + 4px;
  height: 0;
  padding: txf-sprite-height($spt-topDown) 0 0;
  perspective: 50px;

  &:before,
  &:after {
    position: absolute;
    content: '';
  }

  &:before {
    @include tx-pseudo;
    @include tx-sprite($spt-topDown, $block: true);
    top: 0;
    left: 50%;
    margin: 0 0 0 (txf-sprite-width($spt-topDown) / -2);
    transition: $UITransitionDefault;
  }

  &:after {
    @include tx-pseudo;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-is-active {

    &:before {
      transform: rotateX(50deg);
    }

  }

}

.rotateCCW {
  @extend %control;
  @extend %unnecessary;
  @include tx-sprite($spt-rotateCCW, $block: true, $padding: true);
}

.rotateCW {
  @extend %control;
  @extend %unnecessary;
  @include tx-sprite($spt-rotateCW, $block: true, $padding: true);
}

.zoomOut {
  @extend %control;
  @extend %unnecessary;
  @include tx-sprite($spt-zoomOut, $block: true, $padding: true);
}

.zoomIn {
  @extend %control;
  @extend %unnecessary;
  @include tx-sprite($spt-zoomIn, $block: true, $padding: true);
}

.reset {
  @extend %control;
  @include tx-sprite($spt-reset, $block: true, $padding: true);
}

.fullScreen {
  @extend %control;
  @include tx-sprite-block($spt-fullScreen, $padding: true);
  display: none;

  &:before,
  &:after {
    @extend %controlTransition;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &:before {
    @include tx-sprite($spt-fullScreen, $block: true);
  }

  &:after {
    @include tx-sprite($spt-window, $block: true);
    opacity: 0;
  }

  &:active {

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }

  }

  &-is-active {

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }

    &:active {

      &:before {
        opacity: 1;
      }

      &:after {
        opacity: 0;
      }

    }

  }

  .mdz-fullscreen & {
    display: block;
  }

}

.showHelp {
  @include tx-sprite($spt-help, $block: true, $padding: true);
  @include tx-layer(top);
  position: absolute;
  top: $gap;
  right: $gap;
  display: block;
}

// .showPanorama {
//   @extend %control;
//   @include tx-sprite-block($spt-panoramaStart, $padding: true);

//   &:before,
//   &:after {
//     @extend %controlTransition;
//     @include tx-pseudo;
//     left: 0;
//     transition: $UITransitionDefault;
//   }

//   &:before {
//     @include tx-sprite($spt-panoramaStart, $block: true);
//     top: 0;
//   }

//   &:after {
//     @include tx-sprite($spt-panoramaStop, $block: true);
//     top: 2px;
//     opacity: 0;
//   }

//   &-is-active {

//     &:before {
//       opacity: 0;
//     }

//     &:after {
//       opacity: 1;
//     }

//   }

// }



/* Phone */

@include tx-media(phone) {

  .controls {

    .mdz-touchevents & {
      top: auto;
      right: 0;
      bottom: ($gap * 4);
      left: 0;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 ($gap * 2);
    }

  }

  %control {

    .mdz-touchevents & {
      margin: 0;
    }

  }

  %unnecessary {
    display: none;
  }

}
