/* Controls */

.controls {
  @include tx-layer(content, 2);
  position: absolute;
  top: $gap;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  user-select: none;

  .mdz-touchevents & {
    top: 0;
    right: $gap;
    bottom: 0;
    left: auto;
    flex-direction: column;
    width: auto;
  }

}

$control-size: 45px;

%controlBase {
  width: $control-size;
  height: $control-size;
  color: rgba($background, 0);
  font-size: 0;
  text-decoration: none;

  &:before {
    @include tx-pseudo;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba($background, .5);
  }

}

%control {
  @extend %controlBase;
  position: relative;
  margin: 0 ($gap / 2);

  .mdz-touchevents & {
    margin: ($gap / 2) 0;
  }

}

%controlIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: 0;
}

%controlTransition {
  transition: $UITransitionDefault;
}

.showLocations {
  @extend %control;
}

.showLocationsIcon {
  @extend %controlIcon;
  @include tx-sprite($spt-showLocations, $block: true);
  margin: (txf-sprite-height($spt-showLocations) / -2) 0 0 (txf-sprite-width($spt-showLocations) / -2);

  &:before,
  &:after {
    @extend %controlTransition;
    @include tx-pseudo;
    transform: translateZ(0);
  }

  &:before {
    @include tx-sprite($spt-showLocationsHole, $block: true);
    top: 4px;
    left: 4px;
  }

  &:after {
    @include tx-sprite($spt-hideLocationsMarker, $block: true);
    top: 0;
    left: -1px;
    opacity: 0;
  }

  &-is-active {

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }

  }

}

.showTopDown {
  @extend %control;
}

.showTopDownIcon {
  @extend %controlIcon;
  width: txf-sprite-width($spt-topDown);
  height: txf-sprite-height($spt-topDown);
  margin: (txf-sprite-height($spt-topDown) / -2) 0 0 (txf-sprite-width($spt-topDown) / -2);
  transform: translateZ(0);
  perspective: 50px;

  &:before,
  &:after {
    position: absolute;
    content: '';
  }

  &:before {
    @include tx-pseudo;
    @include tx-sprite($spt-topDown, $block: true);
    top: 0;
    left: 50%;
    margin: 0 0 0 (txf-sprite-width($spt-topDown) / -2);
    transform: translateZ(0);
    transition: $UITransitionDefault;
  }

  &:after {
    @include tx-pseudo;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-is-active {

    &:before {
      transform: rotateX(50deg) translateZ(0);
    }

  }

}

.rotateCCW {
  @extend %control;
  @extend %unnecessary;
}

.rotateCCWIcon {
  @extend %controlIcon;
  @include tx-sprite($spt-rotateCCW, $block: true, $padding: true);
  margin: (txf-sprite-height($spt-rotateCCW) / -2) 0 0 (txf-sprite-width($spt-rotateCCW) / -2);
}

.rotateCW {
  @extend %control;
  @extend %unnecessary;
}

.rotateCWIcon {
  @extend %controlIcon;
  @include tx-sprite($spt-rotateCW, $block: true, $padding: true);
  margin: (txf-sprite-height($spt-rotateCW) / -2) 0 0 (txf-sprite-width($spt-rotateCW) / -2);
}

.zoomOut {
  @extend %control;
  @extend %unnecessary;
}

.zoomOutIcon {
  @extend %controlIcon;
  @include tx-sprite($spt-zoomOut, $block: true, $padding: true);
  margin: (txf-sprite-height($spt-zoomOut) / -2) 0 0 (txf-sprite-width($spt-zoomOut) / -2);
}

.zoomIn {
  @extend %control;
  @extend %unnecessary;
}

.zoomInIcon {
  @extend %controlIcon;
  @include tx-sprite($spt-zoomIn, $block: true, $padding: true);
  margin: (txf-sprite-height($spt-topDown) / -2) 0 0 (txf-sprite-width($spt-topDown) / -2);
}

.reset {
  @extend %control;
}

.resetIcon {
  @extend %controlIcon;
  @include tx-sprite($spt-reset, $block: true, $padding: true);
  margin: (txf-sprite-height($spt-reset) / -2) 0 0 (txf-sprite-width($spt-reset) / -2);
}

.fullScreen {
  @extend %control;
}

.fullScreenIcon {
  @extend %controlIcon;
  @include tx-sprite-block($spt-fullScreen, $padding: true);
  display: none;
  margin: (txf-sprite-height($spt-fullScreen) / -2) 0 0 (txf-sprite-width($spt-fullScreen) / -2);

  &:before,
  &:after {
    @extend %controlTransition;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &:before {
    @include tx-sprite($spt-fullScreen, $block: true);
  }

  &:after {
    @include tx-sprite($spt-window, $block: true);
    opacity: 0;
  }

  &:active {

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }

  }

  &-is-active {

    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }

    &:active {

      &:before {
        opacity: 1;
      }

      &:after {
        opacity: 0;
      }

    }

  }

  .mdz-fullscreen & {
    display: block;
  }

}

.showHelp {
  @extend %controlBase;
  @include tx-layer(top);
  position: absolute;
  top: $gap;
  right: $gap;
}

.showHelpIcon {
  @extend %controlIcon;
  @include tx-sprite($spt-help, $block: true, $padding: true);
  margin: (txf-sprite-height($spt-help) / -2) 0 0 (txf-sprite-width($spt-help) / -2);
}



/* Phone */

@include tx-media(phone) {

  .controls {

    .mdz-touchevents & {
      top: auto;
      right: 0;
      bottom: ($gap * 5);
      left: 0;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 ($gap * 2);
    }

  }

  %control {

    .mdz-touchevents & {
      margin: 0;
    }

  }

  %unnecessary {
    display: none;
  }

}
