/* Footer */

.footer {
  @include tx-font-size(small);
  @include tx-layer(top);
  position: absolute;
  right: $gap;
  bottom: $gap;
  left: $gap;
  color: $footer-color;
  background: $gap;
  line-height: 1.75;
}

.gitHub {
  position: absolute;
  top: 0;
  right: 0;
}



/* Phone */

@include tx-media(phone) {

  .footer {
    @include tx-font-size(tiny);
    right: $gap-phone;
    bottom: $gap;
    left: $gap-phone;
    width: auto;
    text-align: center;
    line-height: 1.25;
  }

  .gitHub {
    display: none;
  }

}
