/* Footer */

.footer {
  @include tx-font-size(small);
  @include tx-layer(top);
  position: absolute;
  right: $gap;
  bottom: $gap;
  width: 100%;
  color: $footer-color;
  background: $gap;
  text-align: right;
}



/* Phone */

@include tx-media(phone) {

  .footer {
    @include tx-font-size(tiny);
    bottom: $gap-phone;
    text-align: center;
    line-height: 1;
  }

  .gitHub {
    display: none;
  }

}
