/* Header */

.westworld {
  @include tx-sprite($spt-westworld, $block: true, $padding: true);
  @include tx-layer(top);
  position: absolute;
  top: $gap + 13px;
  left: $gap + 10px;
  display: block;
  margin: 0;
}
