/* Loader */

$loader-width: 104px;
$loader-height: 42px;
$loader-color: $white;
$loader-part: 154px;
$loader-length: 770;
$loader-transition: 1s;

.loader {
  @include tx-layer(over);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $background;
  visibility: visible;
  opacity: .95;
  transition: opacity $UITransitionDefault, visibility $UITransitionDefault step-start, transform $UITransitionDefault step-start;

  &-is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity $UITransitionDefault, visibility $UITransitionDefault step-end, transform $UITransitionDefault step-end;
  }

}

.loaderSVG {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
}

.loaderLogo {
  fill: $loader-color;
}

.loaderProgress {
  animation: progress $loader-transition linear infinite;
  stroke: $loader-color;
  stroke-width: 4;
  stroke-dasharray: 0 0 $loader-part ($loader-length - $loader-part);
  fill: none;
}

@keyframes progress {

  from {
    stroke-dasharray: 0 0 $loader-part ($loader-length - $loader-part);
  }

  to {
    stroke-dasharray: 0 ($loader-length - $loader-part) $loader-part ($loader-length - $loader-part);
  }

}
