/* Loader */

$loader-width: 104px;
$loader-height: 42px;

.loader {
  @include tx-layer(over);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $background;
  transition: opacity $UITransitionDefault, visibility $UITransitionDefault step-start, transform $UITransitionDefault step-start;

  &:before {
    @include tx-pseudo();
    top: 50%;
    left: 50%;
    width: $loader-width;
    height: $loader-height;
    margin: ($loader-height / -2) 0 0 ($loader-width / -2);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="102" height="42" viewBox="0 0 104 44"><path d="M22,42a20,20,0,0,1,0,-40c20,0,40,40,60,40a20,20,0,0,0,0,-40c-20,0,-40,40,-60,40a20,20,0,0,1,0,-40" class="loaderSpinner" /><defs><style>.loaderSpinner {stroke: white;stroke-width: 2;animation: spin 1s infinite linear;stroke-dasharray: 0 0 65 272;}@keyframes spin {from {stroke-dasharray: 0 0 65 272;}to {stroke-dasharray: 0 272 65 0;}}</style></defs></svg>');
  }

  &-is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity $UITransitionDefault, visibility $UITransitionDefault step-end, transform $UITransitionDefault step-end;
    transition-delay: 1s;
  }

}
