/* Loactions */

.locations {
  @include tx-layer(content, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transition: $UITransitionDefault;

  &-is-active {
    opacity: 1;
  }

}

$locationMarker-size: 18px;
$locationMarker-borderColor: $white;

.location {
  position: absolute;
  bottom: 100%;
  left: ($locationMarker-size / -2);
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  transform-origin: 0 100%;

  &:before {
    @include tx-pseudo(relative);
    box-sizing: border-box;
    width: $locationMarker-size;
    height: $locationMarker-size;
    border: 2px solid $locationMarker-borderColor;
    border-radius: 50%;
    vertical-align: middle;
  }

}

.locationInfo {
  margin: 0 0 0 $gap;
  vertical-align: middle;
}

.locationName {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.locationDescription {
  @include tx-font-size(small, .75);
  display: block;
}


