/* Loactions */

.locations {
  @include tx-layer(content, 1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  cursor: grab;
  transition: $UITransitionDefault;
  user-select: none;

  &-is-active {
    opacity: 1;
  }

  &:active {
    cursor: -webkit-grabbing;
    cursor: grabing;
  }

}

$locationMarker-size: 16px;
$locationMarker-borderColor: $white;
$locationMarker-shadowColor: $black;

.location {
  position: absolute;
  bottom: 100%;
  left: ($locationMarker-size / -2);
  display: flex;
  align-items: center;
  text-decoration: none;
  text-shadow: 0 0 2px $locationMarker-shadowColor;
  white-space: nowrap;
  transform-origin: 0 100%;
  transition: opacity $UITransitionFast;

  &:before {
    @include tx-pseudo(relative);
    box-sizing: border-box;
    width: $locationMarker-size;
    height: $locationMarker-size;
    border: 2px solid $locationMarker-borderColor;
    border-radius: 50%;
    box-shadow: 0 0 1px $locationMarker-shadowColor, 0 0 1px $locationMarker-shadowColor inset;
    vertical-align: middle;
  }

  &-is-hidden {
    opacity: 0;
  }

}

.locationInfo {
  margin: 0 0 0 $gap;
  vertical-align: middle;
}

.locationName {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.locationDescription {
  @include tx-font-size(small, .75);
  display: block;
}



/* Phone */

@include tx-media(phone) {

  $locationMarker-phone-size: 12px;

  .location {

    &:before {
      width: $locationMarker-phone-size;
      height: $locationMarker-phone-size;
    }

  }

  .locationName {
    @include tx-font-size(small, .75);
  }

  .locationDescription {
    display: none;
  }

}
