// sprites.png

$spt-fullScreen-name: 'spt-fullScreen';
$spt-fullScreen-x: 23px;
$spt-fullScreen-y: 104px;
$spt-fullScreen-offset-x: -23px;
$spt-fullScreen-offset-y: -104px;
$spt-fullScreen-width: 18px;
$spt-fullScreen-height: 18px;
$spt-fullScreen-total-width: 123px;
$spt-fullScreen-total-height: 122px;
$spt-fullScreen-image: '../images/sprites.png';
$spt-fullScreen: (23px, 104px, -23px, -104px, 18px, 18px, 123px, 122px, '../images/sprites.png', 'spt-fullScreen');
$spt-help-name: 'spt-help';
$spt-help-x: 107px;
$spt-help-y: 27px;
$spt-help-offset-x: -107px;
$spt-help-offset-y: -27px;
$spt-help-width: 14px;
$spt-help-height: 23px;
$spt-help-total-width: 123px;
$spt-help-total-height: 122px;
$spt-help-image: '../images/sprites.png';
$spt-help: (107px, 27px, -107px, -27px, 14px, 23px, 123px, 122px, '../images/sprites.png', 'spt-help');
$spt-hideLocations-name: 'spt-hideLocations';
$spt-hideLocations-x: 83px;
$spt-hideLocations-y: 27px;
$spt-hideLocations-offset-x: -83px;
$spt-hideLocations-offset-y: -27px;
$spt-hideLocations-width: 18px;
$spt-hideLocations-height: 22px;
$spt-hideLocations-total-width: 123px;
$spt-hideLocations-total-height: 122px;
$spt-hideLocations-image: '../images/sprites.png';
$spt-hideLocations: (83px, 27px, -83px, -27px, 18px, 22px, 123px, 122px, '../images/sprites.png', 'spt-hideLocations');
$spt-panoramaStart-name: 'spt-panoramaStart';
$spt-panoramaStart-x: 83px;
$spt-panoramaStart-y: 0;
$spt-panoramaStart-offset-x: -83px;
$spt-panoramaStart-offset-y: 0;
$spt-panoramaStart-width: 19px;
$spt-panoramaStart-height: 22px;
$spt-panoramaStart-total-width: 123px;
$spt-panoramaStart-total-height: 122px;
$spt-panoramaStart-image: '../images/sprites.png';
$spt-panoramaStart: (83px, 0, -83px, 0, 19px, 22px, 123px, 122px, '../images/sprites.png', 'spt-panoramaStart');
$spt-panoramaStop-name: 'spt-panoramaStop';
$spt-panoramaStop-x: 83px;
$spt-panoramaStop-y: 54px;
$spt-panoramaStop-offset-x: -83px;
$spt-panoramaStop-offset-y: -54px;
$spt-panoramaStop-width: 18px;
$spt-panoramaStop-height: 18px;
$spt-panoramaStop-total-width: 123px;
$spt-panoramaStop-total-height: 122px;
$spt-panoramaStop-image: '../images/sprites.png';
$spt-panoramaStop: (83px, 54px, -83px, -54px, 18px, 18px, 123px, 122px, '../images/sprites.png', 'spt-panoramaStop');
$spt-perspective-name: 'spt-perspective';
$spt-perspective-x: 25px;
$spt-perspective-y: 79px;
$spt-perspective-offset-x: -25px;
$spt-perspective-offset-y: -79px;
$spt-perspective-width: 24px;
$spt-perspective-height: 16px;
$spt-perspective-total-width: 123px;
$spt-perspective-total-height: 122px;
$spt-perspective-image: '../images/sprites.png';
$spt-perspective: (25px, 79px, -25px, -79px, 24px, 16px, 123px, 122px, '../images/sprites.png', 'spt-perspective');
$spt-reset-name: 'spt-reset';
$spt-reset-x: 56px;
$spt-reset-y: 0;
$spt-reset-offset-x: -56px;
$spt-reset-offset-y: 0;
$spt-reset-width: 22px;
$spt-reset-height: 22px;
$spt-reset-total-width: 123px;
$spt-reset-total-height: 122px;
$spt-reset-image: '../images/sprites.png';
$spt-reset: (56px, 0, -56px, 0, 22px, 22px, 123px, 122px, '../images/sprites.png', 'spt-reset');
$spt-rotateCCW-name: 'spt-rotateCCW';
$spt-rotateCCW-x: 55px;
$spt-rotateCCW-y: 52px;
$spt-rotateCCW-offset-x: -55px;
$spt-rotateCCW-offset-y: -52px;
$spt-rotateCCW-width: 23px;
$spt-rotateCCW-height: 20px;
$spt-rotateCCW-total-width: 123px;
$spt-rotateCCW-total-height: 122px;
$spt-rotateCCW-image: '../images/sprites.png';
$spt-rotateCCW: (55px, 52px, -55px, -52px, 23px, 20px, 123px, 122px, '../images/sprites.png', 'spt-rotateCCW');
$spt-rotateCW-name: 'spt-rotateCW';
$spt-rotateCW-x: 27px;
$spt-rotateCW-y: 52px;
$spt-rotateCW-offset-x: -27px;
$spt-rotateCW-offset-y: -52px;
$spt-rotateCW-width: 23px;
$spt-rotateCW-height: 20px;
$spt-rotateCW-total-width: 123px;
$spt-rotateCW-total-height: 122px;
$spt-rotateCW-image: '../images/sprites.png';
$spt-rotateCW: (27px, 52px, -27px, -52px, 23px, 20px, 123px, 122px, '../images/sprites.png', 'spt-rotateCW');
$spt-showLocations-name: 'spt-showLocations';
$spt-showLocations-x: 107px;
$spt-showLocations-y: 0;
$spt-showLocations-offset-x: -107px;
$spt-showLocations-offset-y: 0;
$spt-showLocations-width: 16px;
$spt-showLocations-height: 22px;
$spt-showLocations-total-width: 123px;
$spt-showLocations-total-height: 122px;
$spt-showLocations-image: '../images/sprites.png';
$spt-showLocations: (107px, 0, -107px, 0, 16px, 22px, 123px, 122px, '../images/sprites.png', 'spt-showLocations');
$spt-topDown-name: 'spt-topDown';
$spt-topDown-x: 0;
$spt-topDown-y: 52px;
$spt-topDown-offset-x: 0;
$spt-topDown-offset-y: -52px;
$spt-topDown-width: 22px;
$spt-topDown-height: 22px;
$spt-topDown-total-width: 123px;
$spt-topDown-total-height: 122px;
$spt-topDown-image: '../images/sprites.png';
$spt-topDown: (0, 52px, 0, -52px, 22px, 22px, 123px, 122px, '../images/sprites.png', 'spt-topDown');
$spt-westworldNew-name: 'spt-westworldNew';
$spt-westworldNew-x: 0;
$spt-westworldNew-y: 26px;
$spt-westworldNew-offset-x: 0;
$spt-westworldNew-offset-y: -26px;
$spt-westworldNew-width: 39px;
$spt-westworldNew-height: 21px;
$spt-westworldNew-total-width: 123px;
$spt-westworldNew-total-height: 122px;
$spt-westworldNew-image: '../images/sprites.png';
$spt-westworldNew: (0, 26px, 0, -26px, 39px, 21px, 123px, 122px, '../images/sprites.png', 'spt-westworldNew');
$spt-westworldOld-name: 'spt-westworldOld';
$spt-westworldOld-x: 0;
$spt-westworldOld-y: 0;
$spt-westworldOld-offset-x: 0;
$spt-westworldOld-offset-y: 0;
$spt-westworldOld-width: 51px;
$spt-westworldOld-height: 21px;
$spt-westworldOld-total-width: 123px;
$spt-westworldOld-total-height: 122px;
$spt-westworldOld-image: '../images/sprites.png';
$spt-westworldOld: (0, 0, 0, 0, 51px, 21px, 123px, 122px, '../images/sprites.png', 'spt-westworldOld');
$spt-window-name: 'spt-window';
$spt-window-x: 0;
$spt-window-y: 104px;
$spt-window-offset-x: 0;
$spt-window-offset-y: -104px;
$spt-window-width: 18px;
$spt-window-height: 18px;
$spt-window-total-width: 123px;
$spt-window-total-height: 122px;
$spt-window-image: '../images/sprites.png';
$spt-window: (0, 104px, 0, -104px, 18px, 18px, 123px, 122px, '../images/sprites.png', 'spt-window');
$spt-zoomIn-name: 'spt-zoomIn';
$spt-zoomIn-x: 0;
$spt-zoomIn-y: 79px;
$spt-zoomIn-offset-x: 0;
$spt-zoomIn-offset-y: -79px;
$spt-zoomIn-width: 20px;
$spt-zoomIn-height: 20px;
$spt-zoomIn-total-width: 123px;
$spt-zoomIn-total-height: 122px;
$spt-zoomIn-image: '../images/sprites.png';
$spt-zoomIn: (0, 79px, 0, -79px, 20px, 20px, 123px, 122px, '../images/sprites.png', 'spt-zoomIn');
$spt-zoomOut-name: 'spt-zoomOut';
$spt-zoomOut-x: 56px;
$spt-zoomOut-y: 27px;
$spt-zoomOut-offset-x: -56px;
$spt-zoomOut-offset-y: -27px;
$spt-zoomOut-width: 20px;
$spt-zoomOut-height: 20px;
$spt-zoomOut-total-width: 123px;
$spt-zoomOut-total-height: 122px;
$spt-zoomOut-image: '../images/sprites.png';
$spt-zoomOut: (56px, 27px, -56px, -27px, 20px, 20px, 123px, 122px, '../images/sprites.png', 'spt-zoomOut');
$ssh-sprites-width: 123px;
$ssh-sprites-height: 122px;
$ssh-sprites-image: '../images/sprites.png';
$ssh-sprites-sprites: ($spt-fullScreen, $spt-help, $spt-hideLocations, $spt-panoramaStart, $spt-panoramaStop, $spt-perspective, $spt-reset, $spt-rotateCCW, $spt-rotateCW, $spt-showLocations, $spt-topDown, $spt-westworldNew, $spt-westworldOld, $spt-window, $spt-zoomIn, $spt-zoomOut);
$ssh-sprites: (123px, 122px, '../images/sprites.png', $ssh-sprites-sprites);

@mixin ssh-sprites {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites, 3));
  }

}



// sprites@2x.png

$spt-fullScreen-2x-name: 'spt-fullScreen@2x';
$spt-fullScreen-2x-x: 46px;
$spt-fullScreen-2x-y: 208px;
$spt-fullScreen-2x-offset-x: -46px;
$spt-fullScreen-2x-offset-y: -208px;
$spt-fullScreen-2x-width: 36px;
$spt-fullScreen-2x-height: 36px;
$spt-fullScreen-2x-total-width: 246px;
$spt-fullScreen-2x-total-height: 244px;
$spt-fullScreen-2x-image: '../images/sprites@2x.png';
$spt-fullScreen-2x: (46px, 208px, -46px, -208px, 36px, 36px, 246px, 244px, '../images/sprites@2x.png', 'spt-fullScreen@2x');
$spt-help-2x-name: 'spt-help@2x';
$spt-help-2x-x: 214px;
$spt-help-2x-y: 54px;
$spt-help-2x-offset-x: -214px;
$spt-help-2x-offset-y: -54px;
$spt-help-2x-width: 28px;
$spt-help-2x-height: 46px;
$spt-help-2x-total-width: 246px;
$spt-help-2x-total-height: 244px;
$spt-help-2x-image: '../images/sprites@2x.png';
$spt-help-2x: (214px, 54px, -214px, -54px, 28px, 46px, 246px, 244px, '../images/sprites@2x.png', 'spt-help@2x');
$spt-hideLocations-2x-name: 'spt-hideLocations@2x';
$spt-hideLocations-2x-x: 166px;
$spt-hideLocations-2x-y: 54px;
$spt-hideLocations-2x-offset-x: -166px;
$spt-hideLocations-2x-offset-y: -54px;
$spt-hideLocations-2x-width: 36px;
$spt-hideLocations-2x-height: 44px;
$spt-hideLocations-2x-total-width: 246px;
$spt-hideLocations-2x-total-height: 244px;
$spt-hideLocations-2x-image: '../images/sprites@2x.png';
$spt-hideLocations-2x: (166px, 54px, -166px, -54px, 36px, 44px, 246px, 244px, '../images/sprites@2x.png', 'spt-hideLocations@2x');
$spt-panoramaStart-2x-name: 'spt-panoramaStart@2x';
$spt-panoramaStart-2x-x: 166px;
$spt-panoramaStart-2x-y: 0;
$spt-panoramaStart-2x-offset-x: -166px;
$spt-panoramaStart-2x-offset-y: 0;
$spt-panoramaStart-2x-width: 38px;
$spt-panoramaStart-2x-height: 44px;
$spt-panoramaStart-2x-total-width: 246px;
$spt-panoramaStart-2x-total-height: 244px;
$spt-panoramaStart-2x-image: '../images/sprites@2x.png';
$spt-panoramaStart-2x: (166px, 0, -166px, 0, 38px, 44px, 246px, 244px, '../images/sprites@2x.png', 'spt-panoramaStart@2x');
$spt-panoramaStop-2x-name: 'spt-panoramaStop@2x';
$spt-panoramaStop-2x-x: 166px;
$spt-panoramaStop-2x-y: 108px;
$spt-panoramaStop-2x-offset-x: -166px;
$spt-panoramaStop-2x-offset-y: -108px;
$spt-panoramaStop-2x-width: 36px;
$spt-panoramaStop-2x-height: 36px;
$spt-panoramaStop-2x-total-width: 246px;
$spt-panoramaStop-2x-total-height: 244px;
$spt-panoramaStop-2x-image: '../images/sprites@2x.png';
$spt-panoramaStop-2x: (166px, 108px, -166px, -108px, 36px, 36px, 246px, 244px, '../images/sprites@2x.png', 'spt-panoramaStop@2x');
$spt-perspective-2x-name: 'spt-perspective@2x';
$spt-perspective-2x-x: 50px;
$spt-perspective-2x-y: 158px;
$spt-perspective-2x-offset-x: -50px;
$spt-perspective-2x-offset-y: -158px;
$spt-perspective-2x-width: 48px;
$spt-perspective-2x-height: 32px;
$spt-perspective-2x-total-width: 246px;
$spt-perspective-2x-total-height: 244px;
$spt-perspective-2x-image: '../images/sprites@2x.png';
$spt-perspective-2x: (50px, 158px, -50px, -158px, 48px, 32px, 246px, 244px, '../images/sprites@2x.png', 'spt-perspective@2x');
$spt-reset-2x-name: 'spt-reset@2x';
$spt-reset-2x-x: 112px;
$spt-reset-2x-y: 0;
$spt-reset-2x-offset-x: -112px;
$spt-reset-2x-offset-y: 0;
$spt-reset-2x-width: 44px;
$spt-reset-2x-height: 44px;
$spt-reset-2x-total-width: 246px;
$spt-reset-2x-total-height: 244px;
$spt-reset-2x-image: '../images/sprites@2x.png';
$spt-reset-2x: (112px, 0, -112px, 0, 44px, 44px, 246px, 244px, '../images/sprites@2x.png', 'spt-reset@2x');
$spt-rotateCCW-2x-name: 'spt-rotateCCW@2x';
$spt-rotateCCW-2x-x: 110px;
$spt-rotateCCW-2x-y: 104px;
$spt-rotateCCW-2x-offset-x: -110px;
$spt-rotateCCW-2x-offset-y: -104px;
$spt-rotateCCW-2x-width: 46px;
$spt-rotateCCW-2x-height: 40px;
$spt-rotateCCW-2x-total-width: 246px;
$spt-rotateCCW-2x-total-height: 244px;
$spt-rotateCCW-2x-image: '../images/sprites@2x.png';
$spt-rotateCCW-2x: (110px, 104px, -110px, -104px, 46px, 40px, 246px, 244px, '../images/sprites@2x.png', 'spt-rotateCCW@2x');
$spt-rotateCW-2x-name: 'spt-rotateCW@2x';
$spt-rotateCW-2x-x: 54px;
$spt-rotateCW-2x-y: 104px;
$spt-rotateCW-2x-offset-x: -54px;
$spt-rotateCW-2x-offset-y: -104px;
$spt-rotateCW-2x-width: 46px;
$spt-rotateCW-2x-height: 40px;
$spt-rotateCW-2x-total-width: 246px;
$spt-rotateCW-2x-total-height: 244px;
$spt-rotateCW-2x-image: '../images/sprites@2x.png';
$spt-rotateCW-2x: (54px, 104px, -54px, -104px, 46px, 40px, 246px, 244px, '../images/sprites@2x.png', 'spt-rotateCW@2x');
$spt-showLocations-2x-name: 'spt-showLocations@2x';
$spt-showLocations-2x-x: 214px;
$spt-showLocations-2x-y: 0;
$spt-showLocations-2x-offset-x: -214px;
$spt-showLocations-2x-offset-y: 0;
$spt-showLocations-2x-width: 32px;
$spt-showLocations-2x-height: 44px;
$spt-showLocations-2x-total-width: 246px;
$spt-showLocations-2x-total-height: 244px;
$spt-showLocations-2x-image: '../images/sprites@2x.png';
$spt-showLocations-2x: (214px, 0, -214px, 0, 32px, 44px, 246px, 244px, '../images/sprites@2x.png', 'spt-showLocations@2x');
$spt-topDown-2x-name: 'spt-topDown@2x';
$spt-topDown-2x-x: 0;
$spt-topDown-2x-y: 104px;
$spt-topDown-2x-offset-x: 0;
$spt-topDown-2x-offset-y: -104px;
$spt-topDown-2x-width: 44px;
$spt-topDown-2x-height: 44px;
$spt-topDown-2x-total-width: 246px;
$spt-topDown-2x-total-height: 244px;
$spt-topDown-2x-image: '../images/sprites@2x.png';
$spt-topDown-2x: (0, 104px, 0, -104px, 44px, 44px, 246px, 244px, '../images/sprites@2x.png', 'spt-topDown@2x');
$spt-westworldNew-2x-name: 'spt-westworldNew@2x';
$spt-westworldNew-2x-x: 0;
$spt-westworldNew-2x-y: 52px;
$spt-westworldNew-2x-offset-x: 0;
$spt-westworldNew-2x-offset-y: -52px;
$spt-westworldNew-2x-width: 78px;
$spt-westworldNew-2x-height: 42px;
$spt-westworldNew-2x-total-width: 246px;
$spt-westworldNew-2x-total-height: 244px;
$spt-westworldNew-2x-image: '../images/sprites@2x.png';
$spt-westworldNew-2x: (0, 52px, 0, -52px, 78px, 42px, 246px, 244px, '../images/sprites@2x.png', 'spt-westworldNew@2x');
$spt-westworldOld-2x-name: 'spt-westworldOld@2x';
$spt-westworldOld-2x-x: 0;
$spt-westworldOld-2x-y: 0;
$spt-westworldOld-2x-offset-x: 0;
$spt-westworldOld-2x-offset-y: 0;
$spt-westworldOld-2x-width: 102px;
$spt-westworldOld-2x-height: 42px;
$spt-westworldOld-2x-total-width: 246px;
$spt-westworldOld-2x-total-height: 244px;
$spt-westworldOld-2x-image: '../images/sprites@2x.png';
$spt-westworldOld-2x: (0, 0, 0, 0, 102px, 42px, 246px, 244px, '../images/sprites@2x.png', 'spt-westworldOld@2x');
$spt-window-2x-name: 'spt-window@2x';
$spt-window-2x-x: 0;
$spt-window-2x-y: 208px;
$spt-window-2x-offset-x: 0;
$spt-window-2x-offset-y: -208px;
$spt-window-2x-width: 36px;
$spt-window-2x-height: 36px;
$spt-window-2x-total-width: 246px;
$spt-window-2x-total-height: 244px;
$spt-window-2x-image: '../images/sprites@2x.png';
$spt-window-2x: (0, 208px, 0, -208px, 36px, 36px, 246px, 244px, '../images/sprites@2x.png', 'spt-window@2x');
$spt-zoomIn-2x-name: 'spt-zoomIn@2x';
$spt-zoomIn-2x-x: 0;
$spt-zoomIn-2x-y: 158px;
$spt-zoomIn-2x-offset-x: 0;
$spt-zoomIn-2x-offset-y: -158px;
$spt-zoomIn-2x-width: 40px;
$spt-zoomIn-2x-height: 40px;
$spt-zoomIn-2x-total-width: 246px;
$spt-zoomIn-2x-total-height: 244px;
$spt-zoomIn-2x-image: '../images/sprites@2x.png';
$spt-zoomIn-2x: (0, 158px, 0, -158px, 40px, 40px, 246px, 244px, '../images/sprites@2x.png', 'spt-zoomIn@2x');
$spt-zoomOut-2x-name: 'spt-zoomOut@2x';
$spt-zoomOut-2x-x: 112px;
$spt-zoomOut-2x-y: 54px;
$spt-zoomOut-2x-offset-x: -112px;
$spt-zoomOut-2x-offset-y: -54px;
$spt-zoomOut-2x-width: 40px;
$spt-zoomOut-2x-height: 40px;
$spt-zoomOut-2x-total-width: 246px;
$spt-zoomOut-2x-total-height: 244px;
$spt-zoomOut-2x-image: '../images/sprites@2x.png';
$spt-zoomOut-2x: (112px, 54px, -112px, -54px, 40px, 40px, 246px, 244px, '../images/sprites@2x.png', 'spt-zoomOut@2x');
$ssh-sprites-2x-width: 246px;
$ssh-sprites-2x-height: 244px;
$ssh-sprites-2x-image: '../images/sprites@2x.png';
$ssh-sprites-2x-sprites: ($spt-fullScreen-2x, $spt-help-2x, $spt-hideLocations-2x, $spt-panoramaStart-2x, $spt-panoramaStop-2x, $spt-perspective-2x, $spt-reset-2x, $spt-rotateCCW-2x, $spt-rotateCW-2x, $spt-showLocations-2x, $spt-topDown-2x, $spt-westworldNew-2x, $spt-westworldOld-2x, $spt-window-2x, $spt-zoomIn-2x, $spt-zoomOut-2x);
$ssh-sprites-2x: (246px, 244px, '../images/sprites@2x.png', $ssh-sprites-2x-sprites);

@mixin ssh-sprites-2x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-2x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}



// sprites@3x.png

$spt-fullScreen-3x-name: 'spt-fullScreen@3x';
$spt-fullScreen-3x-x: 69px;
$spt-fullScreen-3x-y: 312px;
$spt-fullScreen-3x-offset-x: -69px;
$spt-fullScreen-3x-offset-y: -312px;
$spt-fullScreen-3x-width: 54px;
$spt-fullScreen-3x-height: 54px;
$spt-fullScreen-3x-total-width: 369px;
$spt-fullScreen-3x-total-height: 366px;
$spt-fullScreen-3x-image: '../images/sprites@3x.png';
$spt-fullScreen-3x: (69px, 312px, -69px, -312px, 54px, 54px, 369px, 366px, '../images/sprites@3x.png', 'spt-fullScreen@3x');
$spt-help-3x-name: 'spt-help@3x';
$spt-help-3x-x: 321px;
$spt-help-3x-y: 81px;
$spt-help-3x-offset-x: -321px;
$spt-help-3x-offset-y: -81px;
$spt-help-3x-width: 42px;
$spt-help-3x-height: 69px;
$spt-help-3x-total-width: 369px;
$spt-help-3x-total-height: 366px;
$spt-help-3x-image: '../images/sprites@3x.png';
$spt-help-3x: (321px, 81px, -321px, -81px, 42px, 69px, 369px, 366px, '../images/sprites@3x.png', 'spt-help@3x');
$spt-hideLocations-3x-name: 'spt-hideLocations@3x';
$spt-hideLocations-3x-x: 249px;
$spt-hideLocations-3x-y: 81px;
$spt-hideLocations-3x-offset-x: -249px;
$spt-hideLocations-3x-offset-y: -81px;
$spt-hideLocations-3x-width: 54px;
$spt-hideLocations-3x-height: 66px;
$spt-hideLocations-3x-total-width: 369px;
$spt-hideLocations-3x-total-height: 366px;
$spt-hideLocations-3x-image: '../images/sprites@3x.png';
$spt-hideLocations-3x: (249px, 81px, -249px, -81px, 54px, 66px, 369px, 366px, '../images/sprites@3x.png', 'spt-hideLocations@3x');
$spt-panoramaStart-3x-name: 'spt-panoramaStart@3x';
$spt-panoramaStart-3x-x: 249px;
$spt-panoramaStart-3x-y: 0;
$spt-panoramaStart-3x-offset-x: -249px;
$spt-panoramaStart-3x-offset-y: 0;
$spt-panoramaStart-3x-width: 57px;
$spt-panoramaStart-3x-height: 66px;
$spt-panoramaStart-3x-total-width: 369px;
$spt-panoramaStart-3x-total-height: 366px;
$spt-panoramaStart-3x-image: '../images/sprites@3x.png';
$spt-panoramaStart-3x: (249px, 0, -249px, 0, 57px, 66px, 369px, 366px, '../images/sprites@3x.png', 'spt-panoramaStart@3x');
$spt-panoramaStop-3x-name: 'spt-panoramaStop@3x';
$spt-panoramaStop-3x-x: 249px;
$spt-panoramaStop-3x-y: 162px;
$spt-panoramaStop-3x-offset-x: -249px;
$spt-panoramaStop-3x-offset-y: -162px;
$spt-panoramaStop-3x-width: 54px;
$spt-panoramaStop-3x-height: 54px;
$spt-panoramaStop-3x-total-width: 369px;
$spt-panoramaStop-3x-total-height: 366px;
$spt-panoramaStop-3x-image: '../images/sprites@3x.png';
$spt-panoramaStop-3x: (249px, 162px, -249px, -162px, 54px, 54px, 369px, 366px, '../images/sprites@3x.png', 'spt-panoramaStop@3x');
$spt-perspective-3x-name: 'spt-perspective@3x';
$spt-perspective-3x-x: 75px;
$spt-perspective-3x-y: 237px;
$spt-perspective-3x-offset-x: -75px;
$spt-perspective-3x-offset-y: -237px;
$spt-perspective-3x-width: 72px;
$spt-perspective-3x-height: 48px;
$spt-perspective-3x-total-width: 369px;
$spt-perspective-3x-total-height: 366px;
$spt-perspective-3x-image: '../images/sprites@3x.png';
$spt-perspective-3x: (75px, 237px, -75px, -237px, 72px, 48px, 369px, 366px, '../images/sprites@3x.png', 'spt-perspective@3x');
$spt-reset-3x-name: 'spt-reset@3x';
$spt-reset-3x-x: 168px;
$spt-reset-3x-y: 0;
$spt-reset-3x-offset-x: -168px;
$spt-reset-3x-offset-y: 0;
$spt-reset-3x-width: 66px;
$spt-reset-3x-height: 66px;
$spt-reset-3x-total-width: 369px;
$spt-reset-3x-total-height: 366px;
$spt-reset-3x-image: '../images/sprites@3x.png';
$spt-reset-3x: (168px, 0, -168px, 0, 66px, 66px, 369px, 366px, '../images/sprites@3x.png', 'spt-reset@3x');
$spt-rotateCCW-3x-name: 'spt-rotateCCW@3x';
$spt-rotateCCW-3x-x: 165px;
$spt-rotateCCW-3x-y: 156px;
$spt-rotateCCW-3x-offset-x: -165px;
$spt-rotateCCW-3x-offset-y: -156px;
$spt-rotateCCW-3x-width: 69px;
$spt-rotateCCW-3x-height: 60px;
$spt-rotateCCW-3x-total-width: 369px;
$spt-rotateCCW-3x-total-height: 366px;
$spt-rotateCCW-3x-image: '../images/sprites@3x.png';
$spt-rotateCCW-3x: (165px, 156px, -165px, -156px, 69px, 60px, 369px, 366px, '../images/sprites@3x.png', 'spt-rotateCCW@3x');
$spt-rotateCW-3x-name: 'spt-rotateCW@3x';
$spt-rotateCW-3x-x: 81px;
$spt-rotateCW-3x-y: 156px;
$spt-rotateCW-3x-offset-x: -81px;
$spt-rotateCW-3x-offset-y: -156px;
$spt-rotateCW-3x-width: 69px;
$spt-rotateCW-3x-height: 60px;
$spt-rotateCW-3x-total-width: 369px;
$spt-rotateCW-3x-total-height: 366px;
$spt-rotateCW-3x-image: '../images/sprites@3x.png';
$spt-rotateCW-3x: (81px, 156px, -81px, -156px, 69px, 60px, 369px, 366px, '../images/sprites@3x.png', 'spt-rotateCW@3x');
$spt-showLocations-3x-name: 'spt-showLocations@3x';
$spt-showLocations-3x-x: 321px;
$spt-showLocations-3x-y: 0;
$spt-showLocations-3x-offset-x: -321px;
$spt-showLocations-3x-offset-y: 0;
$spt-showLocations-3x-width: 48px;
$spt-showLocations-3x-height: 66px;
$spt-showLocations-3x-total-width: 369px;
$spt-showLocations-3x-total-height: 366px;
$spt-showLocations-3x-image: '../images/sprites@3x.png';
$spt-showLocations-3x: (321px, 0, -321px, 0, 48px, 66px, 369px, 366px, '../images/sprites@3x.png', 'spt-showLocations@3x');
$spt-topDown-3x-name: 'spt-topDown@3x';
$spt-topDown-3x-x: 0;
$spt-topDown-3x-y: 156px;
$spt-topDown-3x-offset-x: 0;
$spt-topDown-3x-offset-y: -156px;
$spt-topDown-3x-width: 66px;
$spt-topDown-3x-height: 66px;
$spt-topDown-3x-total-width: 369px;
$spt-topDown-3x-total-height: 366px;
$spt-topDown-3x-image: '../images/sprites@3x.png';
$spt-topDown-3x: (0, 156px, 0, -156px, 66px, 66px, 369px, 366px, '../images/sprites@3x.png', 'spt-topDown@3x');
$spt-westworldNew-3x-name: 'spt-westworldNew@3x';
$spt-westworldNew-3x-x: 0;
$spt-westworldNew-3x-y: 78px;
$spt-westworldNew-3x-offset-x: 0;
$spt-westworldNew-3x-offset-y: -78px;
$spt-westworldNew-3x-width: 117px;
$spt-westworldNew-3x-height: 63px;
$spt-westworldNew-3x-total-width: 369px;
$spt-westworldNew-3x-total-height: 366px;
$spt-westworldNew-3x-image: '../images/sprites@3x.png';
$spt-westworldNew-3x: (0, 78px, 0, -78px, 117px, 63px, 369px, 366px, '../images/sprites@3x.png', 'spt-westworldNew@3x');
$spt-westworldOld-3x-name: 'spt-westworldOld@3x';
$spt-westworldOld-3x-x: 0;
$spt-westworldOld-3x-y: 0;
$spt-westworldOld-3x-offset-x: 0;
$spt-westworldOld-3x-offset-y: 0;
$spt-westworldOld-3x-width: 153px;
$spt-westworldOld-3x-height: 63px;
$spt-westworldOld-3x-total-width: 369px;
$spt-westworldOld-3x-total-height: 366px;
$spt-westworldOld-3x-image: '../images/sprites@3x.png';
$spt-westworldOld-3x: (0, 0, 0, 0, 153px, 63px, 369px, 366px, '../images/sprites@3x.png', 'spt-westworldOld@3x');
$spt-window-3x-name: 'spt-window@3x';
$spt-window-3x-x: 0;
$spt-window-3x-y: 312px;
$spt-window-3x-offset-x: 0;
$spt-window-3x-offset-y: -312px;
$spt-window-3x-width: 54px;
$spt-window-3x-height: 54px;
$spt-window-3x-total-width: 369px;
$spt-window-3x-total-height: 366px;
$spt-window-3x-image: '../images/sprites@3x.png';
$spt-window-3x: (0, 312px, 0, -312px, 54px, 54px, 369px, 366px, '../images/sprites@3x.png', 'spt-window@3x');
$spt-zoomIn-3x-name: 'spt-zoomIn@3x';
$spt-zoomIn-3x-x: 0;
$spt-zoomIn-3x-y: 237px;
$spt-zoomIn-3x-offset-x: 0;
$spt-zoomIn-3x-offset-y: -237px;
$spt-zoomIn-3x-width: 60px;
$spt-zoomIn-3x-height: 60px;
$spt-zoomIn-3x-total-width: 369px;
$spt-zoomIn-3x-total-height: 366px;
$spt-zoomIn-3x-image: '../images/sprites@3x.png';
$spt-zoomIn-3x: (0, 237px, 0, -237px, 60px, 60px, 369px, 366px, '../images/sprites@3x.png', 'spt-zoomIn@3x');
$spt-zoomOut-3x-name: 'spt-zoomOut@3x';
$spt-zoomOut-3x-x: 168px;
$spt-zoomOut-3x-y: 81px;
$spt-zoomOut-3x-offset-x: -168px;
$spt-zoomOut-3x-offset-y: -81px;
$spt-zoomOut-3x-width: 60px;
$spt-zoomOut-3x-height: 60px;
$spt-zoomOut-3x-total-width: 369px;
$spt-zoomOut-3x-total-height: 366px;
$spt-zoomOut-3x-image: '../images/sprites@3x.png';
$spt-zoomOut-3x: (168px, 81px, -168px, -81px, 60px, 60px, 369px, 366px, '../images/sprites@3x.png', 'spt-zoomOut@3x');
$ssh-sprites-3x-width: 369px;
$ssh-sprites-3x-height: 366px;
$ssh-sprites-3x-image: '../images/sprites@3x.png';
$ssh-sprites-3x-sprites: ($spt-fullScreen-3x, $spt-help-3x, $spt-hideLocations-3x, $spt-panoramaStart-3x, $spt-panoramaStop-3x, $spt-perspective-3x, $spt-reset-3x, $spt-rotateCCW-3x, $spt-rotateCW-3x, $spt-showLocations-3x, $spt-topDown-3x, $spt-westworldNew-3x, $spt-westworldOld-3x, $spt-window-3x, $spt-zoomIn-3x, $spt-zoomOut-3x);
$ssh-sprites-3x: (369px, 366px, '../images/sprites@3x.png', $ssh-sprites-3x-sprites);

@mixin ssh-sprites-3x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-3x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}
