// sprites.png

$spt-fullScreen-name: 'spt-fullScreen';
$spt-fullScreen-x: 46px;
$spt-fullScreen-y: 78px;
$spt-fullScreen-offset-x: -46px;
$spt-fullScreen-offset-y: -78px;
$spt-fullScreen-width: 18px;
$spt-fullScreen-height: 18px;
$spt-fullScreen-total-width: 115px;
$spt-fullScreen-total-height: 96px;
$spt-fullScreen-image: '../images/sprites.png';
$spt-fullScreen: (46px, 78px, -46px, -78px, 18px, 18px, 115px, 96px, '../images/sprites.png', 'spt-fullScreen');
$spt-help-name: 'spt-help';
$spt-help-x: 99px;
$spt-help-y: 27px;
$spt-help-offset-x: -99px;
$spt-help-offset-y: -27px;
$spt-help-width: 14px;
$spt-help-height: 23px;
$spt-help-total-width: 115px;
$spt-help-total-height: 96px;
$spt-help-image: '../images/sprites.png';
$spt-help: (99px, 27px, -99px, -27px, 14px, 23px, 115px, 96px, '../images/sprites.png', 'spt-help');
$spt-hideLocationsMarker-name: 'spt-hideLocationsMarker';
$spt-hideLocationsMarker-x: 23px;
$spt-hideLocationsMarker-y: 78px;
$spt-hideLocationsMarker-offset-x: -23px;
$spt-hideLocationsMarker-offset-y: -78px;
$spt-hideLocationsMarker-width: 18px;
$spt-hideLocationsMarker-height: 18px;
$spt-hideLocationsMarker-total-width: 115px;
$spt-hideLocationsMarker-total-height: 96px;
$spt-hideLocationsMarker-image: '../images/sprites.png';
$spt-hideLocationsMarker: (23px, 78px, -23px, -78px, 18px, 18px, 115px, 96px, '../images/sprites.png', 'spt-hideLocationsMarker');
$spt-perspective-name: 'spt-perspective';
$spt-perspective-x: 25px;
$spt-perspective-y: 53px;
$spt-perspective-offset-x: -25px;
$spt-perspective-offset-y: -53px;
$spt-perspective-width: 24px;
$spt-perspective-height: 16px;
$spt-perspective-total-width: 115px;
$spt-perspective-total-height: 96px;
$spt-perspective-image: '../images/sprites.png';
$spt-perspective: (25px, 53px, -25px, -53px, 24px, 16px, 115px, 96px, '../images/sprites.png', 'spt-perspective');
$spt-reset-name: 'spt-reset';
$spt-reset-x: 0;
$spt-reset-y: 26px;
$spt-reset-offset-x: 0;
$spt-reset-offset-y: -26px;
$spt-reset-width: 22px;
$spt-reset-height: 22px;
$spt-reset-total-width: 115px;
$spt-reset-total-height: 96px;
$spt-reset-image: '../images/sprites.png';
$spt-reset: (0, 26px, 0, -26px, 22px, 22px, 115px, 96px, '../images/sprites.png', 'spt-reset');
$spt-rotateCCW-name: 'spt-rotateCCW';
$spt-rotateCCW-x: 71px;
$spt-rotateCCW-y: 0;
$spt-rotateCCW-offset-x: -71px;
$spt-rotateCCW-offset-y: 0;
$spt-rotateCCW-width: 23px;
$spt-rotateCCW-height: 20px;
$spt-rotateCCW-total-width: 115px;
$spt-rotateCCW-total-height: 96px;
$spt-rotateCCW-image: '../images/sprites.png';
$spt-rotateCCW: (71px, 0, -71px, 0, 23px, 20px, 115px, 96px, '../images/sprites.png', 'spt-rotateCCW');
$spt-rotateCW-name: 'spt-rotateCW';
$spt-rotateCW-x: 71px;
$spt-rotateCW-y: 25px;
$spt-rotateCW-offset-x: -71px;
$spt-rotateCW-offset-y: -25px;
$spt-rotateCW-width: 23px;
$spt-rotateCW-height: 20px;
$spt-rotateCW-total-width: 115px;
$spt-rotateCW-total-height: 96px;
$spt-rotateCW-image: '../images/sprites.png';
$spt-rotateCW: (71px, 25px, -71px, -25px, 23px, 20px, 115px, 96px, '../images/sprites.png', 'spt-rotateCW');
$spt-showLocations-name: 'spt-showLocations';
$spt-showLocations-x: 99px;
$spt-showLocations-y: 0;
$spt-showLocations-offset-x: -99px;
$spt-showLocations-offset-y: 0;
$spt-showLocations-width: 16px;
$spt-showLocations-height: 22px;
$spt-showLocations-total-width: 115px;
$spt-showLocations-total-height: 96px;
$spt-showLocations-image: '../images/sprites.png';
$spt-showLocations: (99px, 0, -99px, 0, 16px, 22px, 115px, 96px, '../images/sprites.png', 'spt-showLocations');
$spt-showLocationsHole-name: 'spt-showLocationsHole';
$spt-showLocationsHole-x: 99px;
$spt-showLocationsHole-y: 55px;
$spt-showLocationsHole-offset-x: -99px;
$spt-showLocationsHole-offset-y: -55px;
$spt-showLocationsHole-width: 8px;
$spt-showLocationsHole-height: 8px;
$spt-showLocationsHole-total-width: 115px;
$spt-showLocationsHole-total-height: 96px;
$spt-showLocationsHole-image: '../images/sprites.png';
$spt-showLocationsHole: (99px, 55px, -99px, -55px, 8px, 8px, 115px, 96px, '../images/sprites.png', 'spt-showLocationsHole');
$spt-topDown-name: 'spt-topDown';
$spt-topDown-x: 44px;
$spt-topDown-y: 0;
$spt-topDown-offset-x: -44px;
$spt-topDown-offset-y: 0;
$spt-topDown-width: 22px;
$spt-topDown-height: 22px;
$spt-topDown-total-width: 115px;
$spt-topDown-total-height: 96px;
$spt-topDown-image: '../images/sprites.png';
$spt-topDown: (44px, 0, -44px, 0, 22px, 22px, 115px, 96px, '../images/sprites.png', 'spt-topDown');
$spt-westworld-name: 'spt-westworld';
$spt-westworld-x: 0;
$spt-westworld-y: 0;
$spt-westworld-offset-x: 0;
$spt-westworld-offset-y: 0;
$spt-westworld-width: 39px;
$spt-westworld-height: 21px;
$spt-westworld-total-width: 115px;
$spt-westworld-total-height: 96px;
$spt-westworld-image: '../images/sprites.png';
$spt-westworld: (0, 0, 0, 0, 39px, 21px, 115px, 96px, '../images/sprites.png', 'spt-westworld');
$spt-window-name: 'spt-window';
$spt-window-x: 0;
$spt-window-y: 78px;
$spt-window-offset-x: 0;
$spt-window-offset-y: -78px;
$spt-window-width: 18px;
$spt-window-height: 18px;
$spt-window-total-width: 115px;
$spt-window-total-height: 96px;
$spt-window-image: '../images/sprites.png';
$spt-window: (0, 78px, 0, -78px, 18px, 18px, 115px, 96px, '../images/sprites.png', 'spt-window');
$spt-zoomIn-name: 'spt-zoomIn';
$spt-zoomIn-x: 0;
$spt-zoomIn-y: 53px;
$spt-zoomIn-offset-x: 0;
$spt-zoomIn-offset-y: -53px;
$spt-zoomIn-width: 20px;
$spt-zoomIn-height: 20px;
$spt-zoomIn-total-width: 115px;
$spt-zoomIn-total-height: 96px;
$spt-zoomIn-image: '../images/sprites.png';
$spt-zoomIn: (0, 53px, 0, -53px, 20px, 20px, 115px, 96px, '../images/sprites.png', 'spt-zoomIn');
$spt-zoomOut-name: 'spt-zoomOut';
$spt-zoomOut-x: 44px;
$spt-zoomOut-y: 27px;
$spt-zoomOut-offset-x: -44px;
$spt-zoomOut-offset-y: -27px;
$spt-zoomOut-width: 20px;
$spt-zoomOut-height: 20px;
$spt-zoomOut-total-width: 115px;
$spt-zoomOut-total-height: 96px;
$spt-zoomOut-image: '../images/sprites.png';
$spt-zoomOut: (44px, 27px, -44px, -27px, 20px, 20px, 115px, 96px, '../images/sprites.png', 'spt-zoomOut');
$ssh-sprites-width: 115px;
$ssh-sprites-height: 96px;
$ssh-sprites-image: '../images/sprites.png';
$ssh-sprites-sprites: ($spt-fullScreen, $spt-help, $spt-hideLocationsMarker, $spt-perspective, $spt-reset, $spt-rotateCCW, $spt-rotateCW, $spt-showLocations, $spt-showLocationsHole, $spt-topDown, $spt-westworld, $spt-window, $spt-zoomIn, $spt-zoomOut);
$ssh-sprites: (115px, 96px, '../images/sprites.png', $ssh-sprites-sprites);

@mixin ssh-sprites {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites, 3));
  }

}



// sprites@2x.png

$spt-fullScreen-2x-name: 'spt-fullScreen@2x';
$spt-fullScreen-2x-x: 92px;
$spt-fullScreen-2x-y: 156px;
$spt-fullScreen-2x-offset-x: -92px;
$spt-fullScreen-2x-offset-y: -156px;
$spt-fullScreen-2x-width: 36px;
$spt-fullScreen-2x-height: 36px;
$spt-fullScreen-2x-total-width: 230px;
$spt-fullScreen-2x-total-height: 192px;
$spt-fullScreen-2x-image: '../images/sprites@2x.png';
$spt-fullScreen-2x: (92px, 156px, -92px, -156px, 36px, 36px, 230px, 192px, '../images/sprites@2x.png', 'spt-fullScreen@2x');
$spt-help-2x-name: 'spt-help@2x';
$spt-help-2x-x: 198px;
$spt-help-2x-y: 54px;
$spt-help-2x-offset-x: -198px;
$spt-help-2x-offset-y: -54px;
$spt-help-2x-width: 28px;
$spt-help-2x-height: 46px;
$spt-help-2x-total-width: 230px;
$spt-help-2x-total-height: 192px;
$spt-help-2x-image: '../images/sprites@2x.png';
$spt-help-2x: (198px, 54px, -198px, -54px, 28px, 46px, 230px, 192px, '../images/sprites@2x.png', 'spt-help@2x');
$spt-hideLocationsMarker-2x-name: 'spt-hideLocationsMarker@2x';
$spt-hideLocationsMarker-2x-x: 46px;
$spt-hideLocationsMarker-2x-y: 156px;
$spt-hideLocationsMarker-2x-offset-x: -46px;
$spt-hideLocationsMarker-2x-offset-y: -156px;
$spt-hideLocationsMarker-2x-width: 36px;
$spt-hideLocationsMarker-2x-height: 36px;
$spt-hideLocationsMarker-2x-total-width: 230px;
$spt-hideLocationsMarker-2x-total-height: 192px;
$spt-hideLocationsMarker-2x-image: '../images/sprites@2x.png';
$spt-hideLocationsMarker-2x: (46px, 156px, -46px, -156px, 36px, 36px, 230px, 192px, '../images/sprites@2x.png', 'spt-hideLocationsMarker@2x');
$spt-perspective-2x-name: 'spt-perspective@2x';
$spt-perspective-2x-x: 50px;
$spt-perspective-2x-y: 106px;
$spt-perspective-2x-offset-x: -50px;
$spt-perspective-2x-offset-y: -106px;
$spt-perspective-2x-width: 48px;
$spt-perspective-2x-height: 32px;
$spt-perspective-2x-total-width: 230px;
$spt-perspective-2x-total-height: 192px;
$spt-perspective-2x-image: '../images/sprites@2x.png';
$spt-perspective-2x: (50px, 106px, -50px, -106px, 48px, 32px, 230px, 192px, '../images/sprites@2x.png', 'spt-perspective@2x');
$spt-reset-2x-name: 'spt-reset@2x';
$spt-reset-2x-x: 0;
$spt-reset-2x-y: 52px;
$spt-reset-2x-offset-x: 0;
$spt-reset-2x-offset-y: -52px;
$spt-reset-2x-width: 44px;
$spt-reset-2x-height: 44px;
$spt-reset-2x-total-width: 230px;
$spt-reset-2x-total-height: 192px;
$spt-reset-2x-image: '../images/sprites@2x.png';
$spt-reset-2x: (0, 52px, 0, -52px, 44px, 44px, 230px, 192px, '../images/sprites@2x.png', 'spt-reset@2x');
$spt-rotateCCW-2x-name: 'spt-rotateCCW@2x';
$spt-rotateCCW-2x-x: 142px;
$spt-rotateCCW-2x-y: 0;
$spt-rotateCCW-2x-offset-x: -142px;
$spt-rotateCCW-2x-offset-y: 0;
$spt-rotateCCW-2x-width: 46px;
$spt-rotateCCW-2x-height: 40px;
$spt-rotateCCW-2x-total-width: 230px;
$spt-rotateCCW-2x-total-height: 192px;
$spt-rotateCCW-2x-image: '../images/sprites@2x.png';
$spt-rotateCCW-2x: (142px, 0, -142px, 0, 46px, 40px, 230px, 192px, '../images/sprites@2x.png', 'spt-rotateCCW@2x');
$spt-rotateCW-2x-name: 'spt-rotateCW@2x';
$spt-rotateCW-2x-x: 142px;
$spt-rotateCW-2x-y: 50px;
$spt-rotateCW-2x-offset-x: -142px;
$spt-rotateCW-2x-offset-y: -50px;
$spt-rotateCW-2x-width: 46px;
$spt-rotateCW-2x-height: 40px;
$spt-rotateCW-2x-total-width: 230px;
$spt-rotateCW-2x-total-height: 192px;
$spt-rotateCW-2x-image: '../images/sprites@2x.png';
$spt-rotateCW-2x: (142px, 50px, -142px, -50px, 46px, 40px, 230px, 192px, '../images/sprites@2x.png', 'spt-rotateCW@2x');
$spt-showLocations-2x-name: 'spt-showLocations@2x';
$spt-showLocations-2x-x: 198px;
$spt-showLocations-2x-y: 0;
$spt-showLocations-2x-offset-x: -198px;
$spt-showLocations-2x-offset-y: 0;
$spt-showLocations-2x-width: 32px;
$spt-showLocations-2x-height: 44px;
$spt-showLocations-2x-total-width: 230px;
$spt-showLocations-2x-total-height: 192px;
$spt-showLocations-2x-image: '../images/sprites@2x.png';
$spt-showLocations-2x: (198px, 0, -198px, 0, 32px, 44px, 230px, 192px, '../images/sprites@2x.png', 'spt-showLocations@2x');
$spt-showLocationsHole-2x-name: 'spt-showLocationsHole@2x';
$spt-showLocationsHole-2x-x: 198px;
$spt-showLocationsHole-2x-y: 110px;
$spt-showLocationsHole-2x-offset-x: -198px;
$spt-showLocationsHole-2x-offset-y: -110px;
$spt-showLocationsHole-2x-width: 16px;
$spt-showLocationsHole-2x-height: 16px;
$spt-showLocationsHole-2x-total-width: 230px;
$spt-showLocationsHole-2x-total-height: 192px;
$spt-showLocationsHole-2x-image: '../images/sprites@2x.png';
$spt-showLocationsHole-2x: (198px, 110px, -198px, -110px, 16px, 16px, 230px, 192px, '../images/sprites@2x.png', 'spt-showLocationsHole@2x');
$spt-topDown-2x-name: 'spt-topDown@2x';
$spt-topDown-2x-x: 88px;
$spt-topDown-2x-y: 0;
$spt-topDown-2x-offset-x: -88px;
$spt-topDown-2x-offset-y: 0;
$spt-topDown-2x-width: 44px;
$spt-topDown-2x-height: 44px;
$spt-topDown-2x-total-width: 230px;
$spt-topDown-2x-total-height: 192px;
$spt-topDown-2x-image: '../images/sprites@2x.png';
$spt-topDown-2x: (88px, 0, -88px, 0, 44px, 44px, 230px, 192px, '../images/sprites@2x.png', 'spt-topDown@2x');
$spt-westworld-2x-name: 'spt-westworld@2x';
$spt-westworld-2x-x: 0;
$spt-westworld-2x-y: 0;
$spt-westworld-2x-offset-x: 0;
$spt-westworld-2x-offset-y: 0;
$spt-westworld-2x-width: 78px;
$spt-westworld-2x-height: 42px;
$spt-westworld-2x-total-width: 230px;
$spt-westworld-2x-total-height: 192px;
$spt-westworld-2x-image: '../images/sprites@2x.png';
$spt-westworld-2x: (0, 0, 0, 0, 78px, 42px, 230px, 192px, '../images/sprites@2x.png', 'spt-westworld@2x');
$spt-window-2x-name: 'spt-window@2x';
$spt-window-2x-x: 0;
$spt-window-2x-y: 156px;
$spt-window-2x-offset-x: 0;
$spt-window-2x-offset-y: -156px;
$spt-window-2x-width: 36px;
$spt-window-2x-height: 36px;
$spt-window-2x-total-width: 230px;
$spt-window-2x-total-height: 192px;
$spt-window-2x-image: '../images/sprites@2x.png';
$spt-window-2x: (0, 156px, 0, -156px, 36px, 36px, 230px, 192px, '../images/sprites@2x.png', 'spt-window@2x');
$spt-zoomIn-2x-name: 'spt-zoomIn@2x';
$spt-zoomIn-2x-x: 0;
$spt-zoomIn-2x-y: 106px;
$spt-zoomIn-2x-offset-x: 0;
$spt-zoomIn-2x-offset-y: -106px;
$spt-zoomIn-2x-width: 40px;
$spt-zoomIn-2x-height: 40px;
$spt-zoomIn-2x-total-width: 230px;
$spt-zoomIn-2x-total-height: 192px;
$spt-zoomIn-2x-image: '../images/sprites@2x.png';
$spt-zoomIn-2x: (0, 106px, 0, -106px, 40px, 40px, 230px, 192px, '../images/sprites@2x.png', 'spt-zoomIn@2x');
$spt-zoomOut-2x-name: 'spt-zoomOut@2x';
$spt-zoomOut-2x-x: 88px;
$spt-zoomOut-2x-y: 54px;
$spt-zoomOut-2x-offset-x: -88px;
$spt-zoomOut-2x-offset-y: -54px;
$spt-zoomOut-2x-width: 40px;
$spt-zoomOut-2x-height: 40px;
$spt-zoomOut-2x-total-width: 230px;
$spt-zoomOut-2x-total-height: 192px;
$spt-zoomOut-2x-image: '../images/sprites@2x.png';
$spt-zoomOut-2x: (88px, 54px, -88px, -54px, 40px, 40px, 230px, 192px, '../images/sprites@2x.png', 'spt-zoomOut@2x');
$ssh-sprites-2x-width: 230px;
$ssh-sprites-2x-height: 192px;
$ssh-sprites-2x-image: '../images/sprites@2x.png';
$ssh-sprites-2x-sprites: ($spt-fullScreen-2x, $spt-help-2x, $spt-hideLocationsMarker-2x, $spt-perspective-2x, $spt-reset-2x, $spt-rotateCCW-2x, $spt-rotateCW-2x, $spt-showLocations-2x, $spt-showLocationsHole-2x, $spt-topDown-2x, $spt-westworld-2x, $spt-window-2x, $spt-zoomIn-2x, $spt-zoomOut-2x);
$ssh-sprites-2x: (230px, 192px, '../images/sprites@2x.png', $ssh-sprites-2x-sprites);

@mixin ssh-sprites-2x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-2x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}



// sprites@3x.png

$spt-fullScreen-3x-name: 'spt-fullScreen@3x';
$spt-fullScreen-3x-x: 138px;
$spt-fullScreen-3x-y: 234px;
$spt-fullScreen-3x-offset-x: -138px;
$spt-fullScreen-3x-offset-y: -234px;
$spt-fullScreen-3x-width: 54px;
$spt-fullScreen-3x-height: 54px;
$spt-fullScreen-3x-total-width: 345px;
$spt-fullScreen-3x-total-height: 288px;
$spt-fullScreen-3x-image: '../images/sprites@3x.png';
$spt-fullScreen-3x: (138px, 234px, -138px, -234px, 54px, 54px, 345px, 288px, '../images/sprites@3x.png', 'spt-fullScreen@3x');
$spt-help-3x-name: 'spt-help@3x';
$spt-help-3x-x: 297px;
$spt-help-3x-y: 81px;
$spt-help-3x-offset-x: -297px;
$spt-help-3x-offset-y: -81px;
$spt-help-3x-width: 42px;
$spt-help-3x-height: 69px;
$spt-help-3x-total-width: 345px;
$spt-help-3x-total-height: 288px;
$spt-help-3x-image: '../images/sprites@3x.png';
$spt-help-3x: (297px, 81px, -297px, -81px, 42px, 69px, 345px, 288px, '../images/sprites@3x.png', 'spt-help@3x');
$spt-hideLocationsMarker-3x-name: 'spt-hideLocationsMarker@3x';
$spt-hideLocationsMarker-3x-x: 69px;
$spt-hideLocationsMarker-3x-y: 234px;
$spt-hideLocationsMarker-3x-offset-x: -69px;
$spt-hideLocationsMarker-3x-offset-y: -234px;
$spt-hideLocationsMarker-3x-width: 54px;
$spt-hideLocationsMarker-3x-height: 54px;
$spt-hideLocationsMarker-3x-total-width: 345px;
$spt-hideLocationsMarker-3x-total-height: 288px;
$spt-hideLocationsMarker-3x-image: '../images/sprites@3x.png';
$spt-hideLocationsMarker-3x: (69px, 234px, -69px, -234px, 54px, 54px, 345px, 288px, '../images/sprites@3x.png', 'spt-hideLocationsMarker@3x');
$spt-perspective-3x-name: 'spt-perspective@3x';
$spt-perspective-3x-x: 75px;
$spt-perspective-3x-y: 159px;
$spt-perspective-3x-offset-x: -75px;
$spt-perspective-3x-offset-y: -159px;
$spt-perspective-3x-width: 72px;
$spt-perspective-3x-height: 48px;
$spt-perspective-3x-total-width: 345px;
$spt-perspective-3x-total-height: 288px;
$spt-perspective-3x-image: '../images/sprites@3x.png';
$spt-perspective-3x: (75px, 159px, -75px, -159px, 72px, 48px, 345px, 288px, '../images/sprites@3x.png', 'spt-perspective@3x');
$spt-reset-3x-name: 'spt-reset@3x';
$spt-reset-3x-x: 0;
$spt-reset-3x-y: 78px;
$spt-reset-3x-offset-x: 0;
$spt-reset-3x-offset-y: -78px;
$spt-reset-3x-width: 66px;
$spt-reset-3x-height: 66px;
$spt-reset-3x-total-width: 345px;
$spt-reset-3x-total-height: 288px;
$spt-reset-3x-image: '../images/sprites@3x.png';
$spt-reset-3x: (0, 78px, 0, -78px, 66px, 66px, 345px, 288px, '../images/sprites@3x.png', 'spt-reset@3x');
$spt-rotateCCW-3x-name: 'spt-rotateCCW@3x';
$spt-rotateCCW-3x-x: 213px;
$spt-rotateCCW-3x-y: 0;
$spt-rotateCCW-3x-offset-x: -213px;
$spt-rotateCCW-3x-offset-y: 0;
$spt-rotateCCW-3x-width: 69px;
$spt-rotateCCW-3x-height: 60px;
$spt-rotateCCW-3x-total-width: 345px;
$spt-rotateCCW-3x-total-height: 288px;
$spt-rotateCCW-3x-image: '../images/sprites@3x.png';
$spt-rotateCCW-3x: (213px, 0, -213px, 0, 69px, 60px, 345px, 288px, '../images/sprites@3x.png', 'spt-rotateCCW@3x');
$spt-rotateCW-3x-name: 'spt-rotateCW@3x';
$spt-rotateCW-3x-x: 213px;
$spt-rotateCW-3x-y: 75px;
$spt-rotateCW-3x-offset-x: -213px;
$spt-rotateCW-3x-offset-y: -75px;
$spt-rotateCW-3x-width: 69px;
$spt-rotateCW-3x-height: 60px;
$spt-rotateCW-3x-total-width: 345px;
$spt-rotateCW-3x-total-height: 288px;
$spt-rotateCW-3x-image: '../images/sprites@3x.png';
$spt-rotateCW-3x: (213px, 75px, -213px, -75px, 69px, 60px, 345px, 288px, '../images/sprites@3x.png', 'spt-rotateCW@3x');
$spt-showLocations-3x-name: 'spt-showLocations@3x';
$spt-showLocations-3x-x: 297px;
$spt-showLocations-3x-y: 0;
$spt-showLocations-3x-offset-x: -297px;
$spt-showLocations-3x-offset-y: 0;
$spt-showLocations-3x-width: 48px;
$spt-showLocations-3x-height: 66px;
$spt-showLocations-3x-total-width: 345px;
$spt-showLocations-3x-total-height: 288px;
$spt-showLocations-3x-image: '../images/sprites@3x.png';
$spt-showLocations-3x: (297px, 0, -297px, 0, 48px, 66px, 345px, 288px, '../images/sprites@3x.png', 'spt-showLocations@3x');
$spt-showLocationsHole-3x-name: 'spt-showLocationsHole@3x';
$spt-showLocationsHole-3x-x: 297px;
$spt-showLocationsHole-3x-y: 165px;
$spt-showLocationsHole-3x-offset-x: -297px;
$spt-showLocationsHole-3x-offset-y: -165px;
$spt-showLocationsHole-3x-width: 24px;
$spt-showLocationsHole-3x-height: 24px;
$spt-showLocationsHole-3x-total-width: 345px;
$spt-showLocationsHole-3x-total-height: 288px;
$spt-showLocationsHole-3x-image: '../images/sprites@3x.png';
$spt-showLocationsHole-3x: (297px, 165px, -297px, -165px, 24px, 24px, 345px, 288px, '../images/sprites@3x.png', 'spt-showLocationsHole@3x');
$spt-topDown-3x-name: 'spt-topDown@3x';
$spt-topDown-3x-x: 132px;
$spt-topDown-3x-y: 0;
$spt-topDown-3x-offset-x: -132px;
$spt-topDown-3x-offset-y: 0;
$spt-topDown-3x-width: 66px;
$spt-topDown-3x-height: 66px;
$spt-topDown-3x-total-width: 345px;
$spt-topDown-3x-total-height: 288px;
$spt-topDown-3x-image: '../images/sprites@3x.png';
$spt-topDown-3x: (132px, 0, -132px, 0, 66px, 66px, 345px, 288px, '../images/sprites@3x.png', 'spt-topDown@3x');
$spt-westworld-3x-name: 'spt-westworld@3x';
$spt-westworld-3x-x: 0;
$spt-westworld-3x-y: 0;
$spt-westworld-3x-offset-x: 0;
$spt-westworld-3x-offset-y: 0;
$spt-westworld-3x-width: 117px;
$spt-westworld-3x-height: 63px;
$spt-westworld-3x-total-width: 345px;
$spt-westworld-3x-total-height: 288px;
$spt-westworld-3x-image: '../images/sprites@3x.png';
$spt-westworld-3x: (0, 0, 0, 0, 117px, 63px, 345px, 288px, '../images/sprites@3x.png', 'spt-westworld@3x');
$spt-window-3x-name: 'spt-window@3x';
$spt-window-3x-x: 0;
$spt-window-3x-y: 234px;
$spt-window-3x-offset-x: 0;
$spt-window-3x-offset-y: -234px;
$spt-window-3x-width: 54px;
$spt-window-3x-height: 54px;
$spt-window-3x-total-width: 345px;
$spt-window-3x-total-height: 288px;
$spt-window-3x-image: '../images/sprites@3x.png';
$spt-window-3x: (0, 234px, 0, -234px, 54px, 54px, 345px, 288px, '../images/sprites@3x.png', 'spt-window@3x');
$spt-zoomIn-3x-name: 'spt-zoomIn@3x';
$spt-zoomIn-3x-x: 0;
$spt-zoomIn-3x-y: 159px;
$spt-zoomIn-3x-offset-x: 0;
$spt-zoomIn-3x-offset-y: -159px;
$spt-zoomIn-3x-width: 60px;
$spt-zoomIn-3x-height: 60px;
$spt-zoomIn-3x-total-width: 345px;
$spt-zoomIn-3x-total-height: 288px;
$spt-zoomIn-3x-image: '../images/sprites@3x.png';
$spt-zoomIn-3x: (0, 159px, 0, -159px, 60px, 60px, 345px, 288px, '../images/sprites@3x.png', 'spt-zoomIn@3x');
$spt-zoomOut-3x-name: 'spt-zoomOut@3x';
$spt-zoomOut-3x-x: 132px;
$spt-zoomOut-3x-y: 81px;
$spt-zoomOut-3x-offset-x: -132px;
$spt-zoomOut-3x-offset-y: -81px;
$spt-zoomOut-3x-width: 60px;
$spt-zoomOut-3x-height: 60px;
$spt-zoomOut-3x-total-width: 345px;
$spt-zoomOut-3x-total-height: 288px;
$spt-zoomOut-3x-image: '../images/sprites@3x.png';
$spt-zoomOut-3x: (132px, 81px, -132px, -81px, 60px, 60px, 345px, 288px, '../images/sprites@3x.png', 'spt-zoomOut@3x');
$ssh-sprites-3x-width: 345px;
$ssh-sprites-3x-height: 288px;
$ssh-sprites-3x-image: '../images/sprites@3x.png';
$ssh-sprites-3x-sprites: ($spt-fullScreen-3x, $spt-help-3x, $spt-hideLocationsMarker-3x, $spt-perspective-3x, $spt-reset-3x, $spt-rotateCCW-3x, $spt-rotateCW-3x, $spt-showLocations-3x, $spt-showLocationsHole-3x, $spt-topDown-3x, $spt-westworld-3x, $spt-window-3x, $spt-zoomIn-3x, $spt-zoomOut-3x);
$ssh-sprites-3x: (345px, 288px, '../images/sprites@3x.png', $ssh-sprites-3x-sprites);

@mixin ssh-sprites-3x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-3x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}
