// sprites.png

$spt-closeHelp-name: 'spt-closeHelp';
$spt-closeHelp-x: 0;
$spt-closeHelp-y: 53px;
$spt-closeHelp-offset-x: 0;
$spt-closeHelp-offset-y: -53px;
$spt-closeHelp-width: 20px;
$spt-closeHelp-height: 20px;
$spt-closeHelp-total-width: 138px;
$spt-closeHelp-total-height: 94px;
$spt-closeHelp-image: '../images/sprites.png';
$spt-closeHelp: (0, 53px, 0, -53px, 20px, 20px, 138px, 94px, '../images/sprites.png', 'spt-closeHelp');
$spt-error-name: 'spt-error';
$spt-error-x: 44px;
$spt-error-y: 27px;
$spt-error-offset-x: -44px;
$spt-error-offset-y: -27px;
$spt-error-width: 20px;
$spt-error-height: 20px;
$spt-error-total-width: 138px;
$spt-error-total-height: 94px;
$spt-error-image: '../images/sprites.png';
$spt-error: (44px, 27px, -44px, -27px, 20px, 20px, 138px, 94px, '../images/sprites.png', 'spt-error');
$spt-fullScreen-name: 'spt-fullScreen';
$spt-fullScreen-x: 120px;
$spt-fullScreen-y: 23px;
$spt-fullScreen-offset-x: -120px;
$spt-fullScreen-offset-y: -23px;
$spt-fullScreen-width: 18px;
$spt-fullScreen-height: 18px;
$spt-fullScreen-total-width: 138px;
$spt-fullScreen-total-height: 94px;
$spt-fullScreen-image: '../images/sprites.png';
$spt-fullScreen: (120px, 23px, -120px, -23px, 18px, 18px, 138px, 94px, '../images/sprites.png', 'spt-fullScreen');
$spt-help-name: 'spt-help';
$spt-help-x: 99px;
$spt-help-y: 27px;
$spt-help-offset-x: -99px;
$spt-help-offset-y: -27px;
$spt-help-width: 14px;
$spt-help-height: 23px;
$spt-help-total-width: 138px;
$spt-help-total-height: 94px;
$spt-help-image: '../images/sprites.png';
$spt-help: (99px, 27px, -99px, -27px, 14px, 23px, 138px, 94px, '../images/sprites.png', 'spt-help');
$spt-hideLocationsMarker-name: 'spt-hideLocationsMarker';
$spt-hideLocationsMarker-x: 75px;
$spt-hideLocationsMarker-y: 53px;
$spt-hideLocationsMarker-offset-x: -75px;
$spt-hideLocationsMarker-offset-y: -53px;
$spt-hideLocationsMarker-width: 18px;
$spt-hideLocationsMarker-height: 18px;
$spt-hideLocationsMarker-total-width: 138px;
$spt-hideLocationsMarker-total-height: 94px;
$spt-hideLocationsMarker-image: '../images/sprites.png';
$spt-hideLocationsMarker: (75px, 53px, -75px, -53px, 18px, 18px, 138px, 94px, '../images/sprites.png', 'spt-hideLocationsMarker');
$spt-perspective-name: 'spt-perspective';
$spt-perspective-x: 0;
$spt-perspective-y: 78px;
$spt-perspective-offset-x: 0;
$spt-perspective-offset-y: -78px;
$spt-perspective-width: 24px;
$spt-perspective-height: 16px;
$spt-perspective-total-width: 138px;
$spt-perspective-total-height: 94px;
$spt-perspective-image: '../images/sprites.png';
$spt-perspective: (0, 78px, 0, -78px, 24px, 16px, 138px, 94px, '../images/sprites.png', 'spt-perspective');
$spt-reset-name: 'spt-reset';
$spt-reset-x: 44px;
$spt-reset-y: 0;
$spt-reset-offset-x: -44px;
$spt-reset-offset-y: 0;
$spt-reset-width: 22px;
$spt-reset-height: 22px;
$spt-reset-total-width: 138px;
$spt-reset-total-height: 94px;
$spt-reset-image: '../images/sprites.png';
$spt-reset: (44px, 0, -44px, 0, 22px, 22px, 138px, 94px, '../images/sprites.png', 'spt-reset');
$spt-rotateCCW-name: 'spt-rotateCCW';
$spt-rotateCCW-x: 71px;
$spt-rotateCCW-y: 25px;
$spt-rotateCCW-offset-x: -71px;
$spt-rotateCCW-offset-y: -25px;
$spt-rotateCCW-width: 23px;
$spt-rotateCCW-height: 20px;
$spt-rotateCCW-total-width: 138px;
$spt-rotateCCW-total-height: 94px;
$spt-rotateCCW-image: '../images/sprites.png';
$spt-rotateCCW: (71px, 25px, -71px, -25px, 23px, 20px, 138px, 94px, '../images/sprites.png', 'spt-rotateCCW');
$spt-rotateCW-name: 'spt-rotateCW';
$spt-rotateCW-x: 71px;
$spt-rotateCW-y: 0;
$spt-rotateCW-offset-x: -71px;
$spt-rotateCW-offset-y: 0;
$spt-rotateCW-width: 23px;
$spt-rotateCW-height: 20px;
$spt-rotateCW-total-width: 138px;
$spt-rotateCW-total-height: 94px;
$spt-rotateCW-image: '../images/sprites.png';
$spt-rotateCW: (71px, 0, -71px, 0, 23px, 20px, 138px, 94px, '../images/sprites.png', 'spt-rotateCW');
$spt-showLocations-name: 'spt-showLocations';
$spt-showLocations-x: 99px;
$spt-showLocations-y: 0;
$spt-showLocations-offset-x: -99px;
$spt-showLocations-offset-y: 0;
$spt-showLocations-width: 16px;
$spt-showLocations-height: 22px;
$spt-showLocations-total-width: 138px;
$spt-showLocations-total-height: 94px;
$spt-showLocations-image: '../images/sprites.png';
$spt-showLocations: (99px, 0, -99px, 0, 16px, 22px, 138px, 94px, '../images/sprites.png', 'spt-showLocations');
$spt-showLocationsHole-name: 'spt-showLocationsHole';
$spt-showLocationsHole-x: 120px;
$spt-showLocationsHole-y: 46px;
$spt-showLocationsHole-offset-x: -120px;
$spt-showLocationsHole-offset-y: -46px;
$spt-showLocationsHole-width: 8px;
$spt-showLocationsHole-height: 8px;
$spt-showLocationsHole-total-width: 138px;
$spt-showLocationsHole-total-height: 94px;
$spt-showLocationsHole-image: '../images/sprites.png';
$spt-showLocationsHole: (120px, 46px, -120px, -46px, 8px, 8px, 138px, 94px, '../images/sprites.png', 'spt-showLocationsHole');
$spt-topDown-name: 'spt-topDown';
$spt-topDown-x: 0;
$spt-topDown-y: 26px;
$spt-topDown-offset-x: 0;
$spt-topDown-offset-y: -26px;
$spt-topDown-width: 22px;
$spt-topDown-height: 22px;
$spt-topDown-total-width: 138px;
$spt-topDown-total-height: 94px;
$spt-topDown-image: '../images/sprites.png';
$spt-topDown: (0, 26px, 0, -26px, 22px, 22px, 138px, 94px, '../images/sprites.png', 'spt-topDown');
$spt-westworld-name: 'spt-westworld';
$spt-westworld-x: 0;
$spt-westworld-y: 0;
$spt-westworld-offset-x: 0;
$spt-westworld-offset-y: 0;
$spt-westworld-width: 39px;
$spt-westworld-height: 21px;
$spt-westworld-total-width: 138px;
$spt-westworld-total-height: 94px;
$spt-westworld-image: '../images/sprites.png';
$spt-westworld: (0, 0, 0, 0, 39px, 21px, 138px, 94px, '../images/sprites.png', 'spt-westworld');
$spt-window-name: 'spt-window';
$spt-window-x: 120px;
$spt-window-y: 0;
$spt-window-offset-x: -120px;
$spt-window-offset-y: 0;
$spt-window-width: 18px;
$spt-window-height: 18px;
$spt-window-total-width: 138px;
$spt-window-total-height: 94px;
$spt-window-image: '../images/sprites.png';
$spt-window: (120px, 0, -120px, 0, 18px, 18px, 138px, 94px, '../images/sprites.png', 'spt-window');
$spt-zoomIn-name: 'spt-zoomIn';
$spt-zoomIn-x: 25px;
$spt-zoomIn-y: 53px;
$spt-zoomIn-offset-x: -25px;
$spt-zoomIn-offset-y: -53px;
$spt-zoomIn-width: 20px;
$spt-zoomIn-height: 20px;
$spt-zoomIn-total-width: 138px;
$spt-zoomIn-total-height: 94px;
$spt-zoomIn-image: '../images/sprites.png';
$spt-zoomIn: (25px, 53px, -25px, -53px, 20px, 20px, 138px, 94px, '../images/sprites.png', 'spt-zoomIn');
$spt-zoomOut-name: 'spt-zoomOut';
$spt-zoomOut-x: 50px;
$spt-zoomOut-y: 53px;
$spt-zoomOut-offset-x: -50px;
$spt-zoomOut-offset-y: -53px;
$spt-zoomOut-width: 20px;
$spt-zoomOut-height: 20px;
$spt-zoomOut-total-width: 138px;
$spt-zoomOut-total-height: 94px;
$spt-zoomOut-image: '../images/sprites.png';
$spt-zoomOut: (50px, 53px, -50px, -53px, 20px, 20px, 138px, 94px, '../images/sprites.png', 'spt-zoomOut');
$ssh-sprites-width: 138px;
$ssh-sprites-height: 94px;
$ssh-sprites-image: '../images/sprites.png';
$ssh-sprites-sprites: ($spt-closeHelp, $spt-error, $spt-fullScreen, $spt-help, $spt-hideLocationsMarker, $spt-perspective, $spt-reset, $spt-rotateCCW, $spt-rotateCW, $spt-showLocations, $spt-showLocationsHole, $spt-topDown, $spt-westworld, $spt-window, $spt-zoomIn, $spt-zoomOut);
$ssh-sprites: (138px, 94px, '../images/sprites.png', $ssh-sprites-sprites);

@mixin ssh-sprites {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites, 3));
  }

}



// sprites@2x.png

$spt-closeHelp-2x-name: 'spt-closeHelp@2x';
$spt-closeHelp-2x-x: 0;
$spt-closeHelp-2x-y: 106px;
$spt-closeHelp-2x-offset-x: 0;
$spt-closeHelp-2x-offset-y: -106px;
$spt-closeHelp-2x-width: 40px;
$spt-closeHelp-2x-height: 40px;
$spt-closeHelp-2x-total-width: 276px;
$spt-closeHelp-2x-total-height: 188px;
$spt-closeHelp-2x-image: '../images/sprites@2x.png';
$spt-closeHelp-2x: (0, 106px, 0, -106px, 40px, 40px, 276px, 188px, '../images/sprites@2x.png', 'spt-closeHelp@2x');
$spt-error-2x-name: 'spt-error@2x';
$spt-error-2x-x: 88px;
$spt-error-2x-y: 54px;
$spt-error-2x-offset-x: -88px;
$spt-error-2x-offset-y: -54px;
$spt-error-2x-width: 40px;
$spt-error-2x-height: 40px;
$spt-error-2x-total-width: 276px;
$spt-error-2x-total-height: 188px;
$spt-error-2x-image: '../images/sprites@2x.png';
$spt-error-2x: (88px, 54px, -88px, -54px, 40px, 40px, 276px, 188px, '../images/sprites@2x.png', 'spt-error@2x');
$spt-fullScreen-2x-name: 'spt-fullScreen@2x';
$spt-fullScreen-2x-x: 240px;
$spt-fullScreen-2x-y: 46px;
$spt-fullScreen-2x-offset-x: -240px;
$spt-fullScreen-2x-offset-y: -46px;
$spt-fullScreen-2x-width: 36px;
$spt-fullScreen-2x-height: 36px;
$spt-fullScreen-2x-total-width: 276px;
$spt-fullScreen-2x-total-height: 188px;
$spt-fullScreen-2x-image: '../images/sprites@2x.png';
$spt-fullScreen-2x: (240px, 46px, -240px, -46px, 36px, 36px, 276px, 188px, '../images/sprites@2x.png', 'spt-fullScreen@2x');
$spt-help-2x-name: 'spt-help@2x';
$spt-help-2x-x: 198px;
$spt-help-2x-y: 54px;
$spt-help-2x-offset-x: -198px;
$spt-help-2x-offset-y: -54px;
$spt-help-2x-width: 28px;
$spt-help-2x-height: 46px;
$spt-help-2x-total-width: 276px;
$spt-help-2x-total-height: 188px;
$spt-help-2x-image: '../images/sprites@2x.png';
$spt-help-2x: (198px, 54px, -198px, -54px, 28px, 46px, 276px, 188px, '../images/sprites@2x.png', 'spt-help@2x');
$spt-hideLocationsMarker-2x-name: 'spt-hideLocationsMarker@2x';
$spt-hideLocationsMarker-2x-x: 150px;
$spt-hideLocationsMarker-2x-y: 106px;
$spt-hideLocationsMarker-2x-offset-x: -150px;
$spt-hideLocationsMarker-2x-offset-y: -106px;
$spt-hideLocationsMarker-2x-width: 36px;
$spt-hideLocationsMarker-2x-height: 36px;
$spt-hideLocationsMarker-2x-total-width: 276px;
$spt-hideLocationsMarker-2x-total-height: 188px;
$spt-hideLocationsMarker-2x-image: '../images/sprites@2x.png';
$spt-hideLocationsMarker-2x: (150px, 106px, -150px, -106px, 36px, 36px, 276px, 188px, '../images/sprites@2x.png', 'spt-hideLocationsMarker@2x');
$spt-perspective-2x-name: 'spt-perspective@2x';
$spt-perspective-2x-x: 0;
$spt-perspective-2x-y: 156px;
$spt-perspective-2x-offset-x: 0;
$spt-perspective-2x-offset-y: -156px;
$spt-perspective-2x-width: 48px;
$spt-perspective-2x-height: 32px;
$spt-perspective-2x-total-width: 276px;
$spt-perspective-2x-total-height: 188px;
$spt-perspective-2x-image: '../images/sprites@2x.png';
$spt-perspective-2x: (0, 156px, 0, -156px, 48px, 32px, 276px, 188px, '../images/sprites@2x.png', 'spt-perspective@2x');
$spt-reset-2x-name: 'spt-reset@2x';
$spt-reset-2x-x: 88px;
$spt-reset-2x-y: 0;
$spt-reset-2x-offset-x: -88px;
$spt-reset-2x-offset-y: 0;
$spt-reset-2x-width: 44px;
$spt-reset-2x-height: 44px;
$spt-reset-2x-total-width: 276px;
$spt-reset-2x-total-height: 188px;
$spt-reset-2x-image: '../images/sprites@2x.png';
$spt-reset-2x: (88px, 0, -88px, 0, 44px, 44px, 276px, 188px, '../images/sprites@2x.png', 'spt-reset@2x');
$spt-rotateCCW-2x-name: 'spt-rotateCCW@2x';
$spt-rotateCCW-2x-x: 142px;
$spt-rotateCCW-2x-y: 50px;
$spt-rotateCCW-2x-offset-x: -142px;
$spt-rotateCCW-2x-offset-y: -50px;
$spt-rotateCCW-2x-width: 46px;
$spt-rotateCCW-2x-height: 40px;
$spt-rotateCCW-2x-total-width: 276px;
$spt-rotateCCW-2x-total-height: 188px;
$spt-rotateCCW-2x-image: '../images/sprites@2x.png';
$spt-rotateCCW-2x: (142px, 50px, -142px, -50px, 46px, 40px, 276px, 188px, '../images/sprites@2x.png', 'spt-rotateCCW@2x');
$spt-rotateCW-2x-name: 'spt-rotateCW@2x';
$spt-rotateCW-2x-x: 142px;
$spt-rotateCW-2x-y: 0;
$spt-rotateCW-2x-offset-x: -142px;
$spt-rotateCW-2x-offset-y: 0;
$spt-rotateCW-2x-width: 46px;
$spt-rotateCW-2x-height: 40px;
$spt-rotateCW-2x-total-width: 276px;
$spt-rotateCW-2x-total-height: 188px;
$spt-rotateCW-2x-image: '../images/sprites@2x.png';
$spt-rotateCW-2x: (142px, 0, -142px, 0, 46px, 40px, 276px, 188px, '../images/sprites@2x.png', 'spt-rotateCW@2x');
$spt-showLocations-2x-name: 'spt-showLocations@2x';
$spt-showLocations-2x-x: 198px;
$spt-showLocations-2x-y: 0;
$spt-showLocations-2x-offset-x: -198px;
$spt-showLocations-2x-offset-y: 0;
$spt-showLocations-2x-width: 32px;
$spt-showLocations-2x-height: 44px;
$spt-showLocations-2x-total-width: 276px;
$spt-showLocations-2x-total-height: 188px;
$spt-showLocations-2x-image: '../images/sprites@2x.png';
$spt-showLocations-2x: (198px, 0, -198px, 0, 32px, 44px, 276px, 188px, '../images/sprites@2x.png', 'spt-showLocations@2x');
$spt-showLocationsHole-2x-name: 'spt-showLocationsHole@2x';
$spt-showLocationsHole-2x-x: 240px;
$spt-showLocationsHole-2x-y: 92px;
$spt-showLocationsHole-2x-offset-x: -240px;
$spt-showLocationsHole-2x-offset-y: -92px;
$spt-showLocationsHole-2x-width: 16px;
$spt-showLocationsHole-2x-height: 16px;
$spt-showLocationsHole-2x-total-width: 276px;
$spt-showLocationsHole-2x-total-height: 188px;
$spt-showLocationsHole-2x-image: '../images/sprites@2x.png';
$spt-showLocationsHole-2x: (240px, 92px, -240px, -92px, 16px, 16px, 276px, 188px, '../images/sprites@2x.png', 'spt-showLocationsHole@2x');
$spt-topDown-2x-name: 'spt-topDown@2x';
$spt-topDown-2x-x: 0;
$spt-topDown-2x-y: 52px;
$spt-topDown-2x-offset-x: 0;
$spt-topDown-2x-offset-y: -52px;
$spt-topDown-2x-width: 44px;
$spt-topDown-2x-height: 44px;
$spt-topDown-2x-total-width: 276px;
$spt-topDown-2x-total-height: 188px;
$spt-topDown-2x-image: '../images/sprites@2x.png';
$spt-topDown-2x: (0, 52px, 0, -52px, 44px, 44px, 276px, 188px, '../images/sprites@2x.png', 'spt-topDown@2x');
$spt-westworld-2x-name: 'spt-westworld@2x';
$spt-westworld-2x-x: 0;
$spt-westworld-2x-y: 0;
$spt-westworld-2x-offset-x: 0;
$spt-westworld-2x-offset-y: 0;
$spt-westworld-2x-width: 78px;
$spt-westworld-2x-height: 42px;
$spt-westworld-2x-total-width: 276px;
$spt-westworld-2x-total-height: 188px;
$spt-westworld-2x-image: '../images/sprites@2x.png';
$spt-westworld-2x: (0, 0, 0, 0, 78px, 42px, 276px, 188px, '../images/sprites@2x.png', 'spt-westworld@2x');
$spt-window-2x-name: 'spt-window@2x';
$spt-window-2x-x: 240px;
$spt-window-2x-y: 0;
$spt-window-2x-offset-x: -240px;
$spt-window-2x-offset-y: 0;
$spt-window-2x-width: 36px;
$spt-window-2x-height: 36px;
$spt-window-2x-total-width: 276px;
$spt-window-2x-total-height: 188px;
$spt-window-2x-image: '../images/sprites@2x.png';
$spt-window-2x: (240px, 0, -240px, 0, 36px, 36px, 276px, 188px, '../images/sprites@2x.png', 'spt-window@2x');
$spt-zoomIn-2x-name: 'spt-zoomIn@2x';
$spt-zoomIn-2x-x: 50px;
$spt-zoomIn-2x-y: 106px;
$spt-zoomIn-2x-offset-x: -50px;
$spt-zoomIn-2x-offset-y: -106px;
$spt-zoomIn-2x-width: 40px;
$spt-zoomIn-2x-height: 40px;
$spt-zoomIn-2x-total-width: 276px;
$spt-zoomIn-2x-total-height: 188px;
$spt-zoomIn-2x-image: '../images/sprites@2x.png';
$spt-zoomIn-2x: (50px, 106px, -50px, -106px, 40px, 40px, 276px, 188px, '../images/sprites@2x.png', 'spt-zoomIn@2x');
$spt-zoomOut-2x-name: 'spt-zoomOut@2x';
$spt-zoomOut-2x-x: 100px;
$spt-zoomOut-2x-y: 106px;
$spt-zoomOut-2x-offset-x: -100px;
$spt-zoomOut-2x-offset-y: -106px;
$spt-zoomOut-2x-width: 40px;
$spt-zoomOut-2x-height: 40px;
$spt-zoomOut-2x-total-width: 276px;
$spt-zoomOut-2x-total-height: 188px;
$spt-zoomOut-2x-image: '../images/sprites@2x.png';
$spt-zoomOut-2x: (100px, 106px, -100px, -106px, 40px, 40px, 276px, 188px, '../images/sprites@2x.png', 'spt-zoomOut@2x');
$ssh-sprites-2x-width: 276px;
$ssh-sprites-2x-height: 188px;
$ssh-sprites-2x-image: '../images/sprites@2x.png';
$ssh-sprites-2x-sprites: ($spt-closeHelp-2x, $spt-error-2x, $spt-fullScreen-2x, $spt-help-2x, $spt-hideLocationsMarker-2x, $spt-perspective-2x, $spt-reset-2x, $spt-rotateCCW-2x, $spt-rotateCW-2x, $spt-showLocations-2x, $spt-showLocationsHole-2x, $spt-topDown-2x, $spt-westworld-2x, $spt-window-2x, $spt-zoomIn-2x, $spt-zoomOut-2x);
$ssh-sprites-2x: (276px, 188px, '../images/sprites@2x.png', $ssh-sprites-2x-sprites);

@mixin ssh-sprites-2x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-2x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}



// sprites@3x.png

$spt-closeHelp-3x-name: 'spt-closeHelp@3x';
$spt-closeHelp-3x-x: 0;
$spt-closeHelp-3x-y: 159px;
$spt-closeHelp-3x-offset-x: 0;
$spt-closeHelp-3x-offset-y: -159px;
$spt-closeHelp-3x-width: 60px;
$spt-closeHelp-3x-height: 60px;
$spt-closeHelp-3x-total-width: 414px;
$spt-closeHelp-3x-total-height: 282px;
$spt-closeHelp-3x-image: '../images/sprites@3x.png';
$spt-closeHelp-3x: (0, 159px, 0, -159px, 60px, 60px, 414px, 282px, '../images/sprites@3x.png', 'spt-closeHelp@3x');
$spt-error-3x-name: 'spt-error@3x';
$spt-error-3x-x: 132px;
$spt-error-3x-y: 81px;
$spt-error-3x-offset-x: -132px;
$spt-error-3x-offset-y: -81px;
$spt-error-3x-width: 60px;
$spt-error-3x-height: 60px;
$spt-error-3x-total-width: 414px;
$spt-error-3x-total-height: 282px;
$spt-error-3x-image: '../images/sprites@3x.png';
$spt-error-3x: (132px, 81px, -132px, -81px, 60px, 60px, 414px, 282px, '../images/sprites@3x.png', 'spt-error@3x');
$spt-fullScreen-3x-name: 'spt-fullScreen@3x';
$spt-fullScreen-3x-x: 360px;
$spt-fullScreen-3x-y: 69px;
$spt-fullScreen-3x-offset-x: -360px;
$spt-fullScreen-3x-offset-y: -69px;
$spt-fullScreen-3x-width: 54px;
$spt-fullScreen-3x-height: 54px;
$spt-fullScreen-3x-total-width: 414px;
$spt-fullScreen-3x-total-height: 282px;
$spt-fullScreen-3x-image: '../images/sprites@3x.png';
$spt-fullScreen-3x: (360px, 69px, -360px, -69px, 54px, 54px, 414px, 282px, '../images/sprites@3x.png', 'spt-fullScreen@3x');
$spt-help-3x-name: 'spt-help@3x';
$spt-help-3x-x: 297px;
$spt-help-3x-y: 81px;
$spt-help-3x-offset-x: -297px;
$spt-help-3x-offset-y: -81px;
$spt-help-3x-width: 42px;
$spt-help-3x-height: 69px;
$spt-help-3x-total-width: 414px;
$spt-help-3x-total-height: 282px;
$spt-help-3x-image: '../images/sprites@3x.png';
$spt-help-3x: (297px, 81px, -297px, -81px, 42px, 69px, 414px, 282px, '../images/sprites@3x.png', 'spt-help@3x');
$spt-hideLocationsMarker-3x-name: 'spt-hideLocationsMarker@3x';
$spt-hideLocationsMarker-3x-x: 225px;
$spt-hideLocationsMarker-3x-y: 159px;
$spt-hideLocationsMarker-3x-offset-x: -225px;
$spt-hideLocationsMarker-3x-offset-y: -159px;
$spt-hideLocationsMarker-3x-width: 54px;
$spt-hideLocationsMarker-3x-height: 54px;
$spt-hideLocationsMarker-3x-total-width: 414px;
$spt-hideLocationsMarker-3x-total-height: 282px;
$spt-hideLocationsMarker-3x-image: '../images/sprites@3x.png';
$spt-hideLocationsMarker-3x: (225px, 159px, -225px, -159px, 54px, 54px, 414px, 282px, '../images/sprites@3x.png', 'spt-hideLocationsMarker@3x');
$spt-perspective-3x-name: 'spt-perspective@3x';
$spt-perspective-3x-x: 0;
$spt-perspective-3x-y: 234px;
$spt-perspective-3x-offset-x: 0;
$spt-perspective-3x-offset-y: -234px;
$spt-perspective-3x-width: 72px;
$spt-perspective-3x-height: 48px;
$spt-perspective-3x-total-width: 414px;
$spt-perspective-3x-total-height: 282px;
$spt-perspective-3x-image: '../images/sprites@3x.png';
$spt-perspective-3x: (0, 234px, 0, -234px, 72px, 48px, 414px, 282px, '../images/sprites@3x.png', 'spt-perspective@3x');
$spt-reset-3x-name: 'spt-reset@3x';
$spt-reset-3x-x: 132px;
$spt-reset-3x-y: 0;
$spt-reset-3x-offset-x: -132px;
$spt-reset-3x-offset-y: 0;
$spt-reset-3x-width: 66px;
$spt-reset-3x-height: 66px;
$spt-reset-3x-total-width: 414px;
$spt-reset-3x-total-height: 282px;
$spt-reset-3x-image: '../images/sprites@3x.png';
$spt-reset-3x: (132px, 0, -132px, 0, 66px, 66px, 414px, 282px, '../images/sprites@3x.png', 'spt-reset@3x');
$spt-rotateCCW-3x-name: 'spt-rotateCCW@3x';
$spt-rotateCCW-3x-x: 213px;
$spt-rotateCCW-3x-y: 75px;
$spt-rotateCCW-3x-offset-x: -213px;
$spt-rotateCCW-3x-offset-y: -75px;
$spt-rotateCCW-3x-width: 69px;
$spt-rotateCCW-3x-height: 60px;
$spt-rotateCCW-3x-total-width: 414px;
$spt-rotateCCW-3x-total-height: 282px;
$spt-rotateCCW-3x-image: '../images/sprites@3x.png';
$spt-rotateCCW-3x: (213px, 75px, -213px, -75px, 69px, 60px, 414px, 282px, '../images/sprites@3x.png', 'spt-rotateCCW@3x');
$spt-rotateCW-3x-name: 'spt-rotateCW@3x';
$spt-rotateCW-3x-x: 213px;
$spt-rotateCW-3x-y: 0;
$spt-rotateCW-3x-offset-x: -213px;
$spt-rotateCW-3x-offset-y: 0;
$spt-rotateCW-3x-width: 69px;
$spt-rotateCW-3x-height: 60px;
$spt-rotateCW-3x-total-width: 414px;
$spt-rotateCW-3x-total-height: 282px;
$spt-rotateCW-3x-image: '../images/sprites@3x.png';
$spt-rotateCW-3x: (213px, 0, -213px, 0, 69px, 60px, 414px, 282px, '../images/sprites@3x.png', 'spt-rotateCW@3x');
$spt-showLocations-3x-name: 'spt-showLocations@3x';
$spt-showLocations-3x-x: 297px;
$spt-showLocations-3x-y: 0;
$spt-showLocations-3x-offset-x: -297px;
$spt-showLocations-3x-offset-y: 0;
$spt-showLocations-3x-width: 48px;
$spt-showLocations-3x-height: 66px;
$spt-showLocations-3x-total-width: 414px;
$spt-showLocations-3x-total-height: 282px;
$spt-showLocations-3x-image: '../images/sprites@3x.png';
$spt-showLocations-3x: (297px, 0, -297px, 0, 48px, 66px, 414px, 282px, '../images/sprites@3x.png', 'spt-showLocations@3x');
$spt-showLocationsHole-3x-name: 'spt-showLocationsHole@3x';
$spt-showLocationsHole-3x-x: 360px;
$spt-showLocationsHole-3x-y: 138px;
$spt-showLocationsHole-3x-offset-x: -360px;
$spt-showLocationsHole-3x-offset-y: -138px;
$spt-showLocationsHole-3x-width: 24px;
$spt-showLocationsHole-3x-height: 24px;
$spt-showLocationsHole-3x-total-width: 414px;
$spt-showLocationsHole-3x-total-height: 282px;
$spt-showLocationsHole-3x-image: '../images/sprites@3x.png';
$spt-showLocationsHole-3x: (360px, 138px, -360px, -138px, 24px, 24px, 414px, 282px, '../images/sprites@3x.png', 'spt-showLocationsHole@3x');
$spt-topDown-3x-name: 'spt-topDown@3x';
$spt-topDown-3x-x: 0;
$spt-topDown-3x-y: 78px;
$spt-topDown-3x-offset-x: 0;
$spt-topDown-3x-offset-y: -78px;
$spt-topDown-3x-width: 66px;
$spt-topDown-3x-height: 66px;
$spt-topDown-3x-total-width: 414px;
$spt-topDown-3x-total-height: 282px;
$spt-topDown-3x-image: '../images/sprites@3x.png';
$spt-topDown-3x: (0, 78px, 0, -78px, 66px, 66px, 414px, 282px, '../images/sprites@3x.png', 'spt-topDown@3x');
$spt-westworld-3x-name: 'spt-westworld@3x';
$spt-westworld-3x-x: 0;
$spt-westworld-3x-y: 0;
$spt-westworld-3x-offset-x: 0;
$spt-westworld-3x-offset-y: 0;
$spt-westworld-3x-width: 117px;
$spt-westworld-3x-height: 63px;
$spt-westworld-3x-total-width: 414px;
$spt-westworld-3x-total-height: 282px;
$spt-westworld-3x-image: '../images/sprites@3x.png';
$spt-westworld-3x: (0, 0, 0, 0, 117px, 63px, 414px, 282px, '../images/sprites@3x.png', 'spt-westworld@3x');
$spt-window-3x-name: 'spt-window@3x';
$spt-window-3x-x: 360px;
$spt-window-3x-y: 0;
$spt-window-3x-offset-x: -360px;
$spt-window-3x-offset-y: 0;
$spt-window-3x-width: 54px;
$spt-window-3x-height: 54px;
$spt-window-3x-total-width: 414px;
$spt-window-3x-total-height: 282px;
$spt-window-3x-image: '../images/sprites@3x.png';
$spt-window-3x: (360px, 0, -360px, 0, 54px, 54px, 414px, 282px, '../images/sprites@3x.png', 'spt-window@3x');
$spt-zoomIn-3x-name: 'spt-zoomIn@3x';
$spt-zoomIn-3x-x: 75px;
$spt-zoomIn-3x-y: 159px;
$spt-zoomIn-3x-offset-x: -75px;
$spt-zoomIn-3x-offset-y: -159px;
$spt-zoomIn-3x-width: 60px;
$spt-zoomIn-3x-height: 60px;
$spt-zoomIn-3x-total-width: 414px;
$spt-zoomIn-3x-total-height: 282px;
$spt-zoomIn-3x-image: '../images/sprites@3x.png';
$spt-zoomIn-3x: (75px, 159px, -75px, -159px, 60px, 60px, 414px, 282px, '../images/sprites@3x.png', 'spt-zoomIn@3x');
$spt-zoomOut-3x-name: 'spt-zoomOut@3x';
$spt-zoomOut-3x-x: 150px;
$spt-zoomOut-3x-y: 159px;
$spt-zoomOut-3x-offset-x: -150px;
$spt-zoomOut-3x-offset-y: -159px;
$spt-zoomOut-3x-width: 60px;
$spt-zoomOut-3x-height: 60px;
$spt-zoomOut-3x-total-width: 414px;
$spt-zoomOut-3x-total-height: 282px;
$spt-zoomOut-3x-image: '../images/sprites@3x.png';
$spt-zoomOut-3x: (150px, 159px, -150px, -159px, 60px, 60px, 414px, 282px, '../images/sprites@3x.png', 'spt-zoomOut@3x');
$ssh-sprites-3x-width: 414px;
$ssh-sprites-3x-height: 282px;
$ssh-sprites-3x-image: '../images/sprites@3x.png';
$ssh-sprites-3x-sprites: ($spt-closeHelp-3x, $spt-error-3x, $spt-fullScreen-3x, $spt-help-3x, $spt-hideLocationsMarker-3x, $spt-perspective-3x, $spt-reset-3x, $spt-rotateCCW-3x, $spt-rotateCW-3x, $spt-showLocations-3x, $spt-showLocationsHole-3x, $spt-topDown-3x, $spt-westworld-3x, $spt-window-3x, $spt-zoomIn-3x, $spt-zoomOut-3x);
$ssh-sprites-3x: (414px, 282px, '../images/sprites@3x.png', $ssh-sprites-3x-sprites);

@mixin ssh-sprites-3x {

  %ssh-sprites {
    background-image: url(nth($ssh-sprites-3x, 3));
    background-size: #{nth($ssh-sprites, 1)} #{nth($ssh-sprites, 2)};
  }

}



// helpSprites.png

$spt-doubleSwipe-name: 'spt-doubleSwipe';
$spt-doubleSwipe-x: 0;
$spt-doubleSwipe-y: 67px;
$spt-doubleSwipe-offset-x: 0;
$spt-doubleSwipe-offset-y: -67px;
$spt-doubleSwipe-width: 77px;
$spt-doubleSwipe-height: 61px;
$spt-doubleSwipe-total-width: 241px;
$spt-doubleSwipe-total-height: 239px;
$spt-doubleSwipe-image: '../images/helpSprites.png';
$spt-doubleSwipe: (0, 67px, 0, -67px, 77px, 61px, 241px, 239px, '../images/helpSprites.png', 'spt-doubleSwipe');
$spt-key1-name: 'spt-key1';
$spt-key1-x: 185px;
$spt-key1-y: 170px;
$spt-key1-offset-x: -185px;
$spt-key1-offset-y: -170px;
$spt-key1-width: 32px;
$spt-key1-height: 32px;
$spt-key1-total-width: 241px;
$spt-key1-total-height: 239px;
$spt-key1-image: '../images/helpSprites.png';
$spt-key1: (185px, 170px, -185px, -170px, 32px, 32px, 241px, 239px, '../images/helpSprites.png', 'spt-key1');
$spt-key2-name: 'spt-key2';
$spt-key2-x: 74px;
$spt-key2-y: 170px;
$spt-key2-offset-x: -74px;
$spt-key2-offset-y: -170px;
$spt-key2-width: 32px;
$spt-key2-height: 32px;
$spt-key2-total-width: 241px;
$spt-key2-total-height: 239px;
$spt-key2-image: '../images/helpSprites.png';
$spt-key2: (74px, 170px, -74px, -170px, 32px, 32px, 241px, 239px, '../images/helpSprites.png', 'spt-key2');
$spt-keyDown-name: 'spt-keyDown';
$spt-keyDown-x: 120px;
$spt-keyDown-y: 133px;
$spt-keyDown-offset-x: -120px;
$spt-keyDown-offset-y: -133px;
$spt-keyDown-width: 32px;
$spt-keyDown-height: 32px;
$spt-keyDown-total-width: 241px;
$spt-keyDown-total-height: 239px;
$spt-keyDown-image: '../images/helpSprites.png';
$spt-keyDown: (120px, 133px, -120px, -133px, 32px, 32px, 241px, 239px, '../images/helpSprites.png', 'spt-keyDown');
$spt-keyLeft-name: 'spt-keyLeft';
$spt-keyLeft-x: 111px;
$spt-keyLeft-y: 170px;
$spt-keyLeft-offset-x: -111px;
$spt-keyLeft-offset-y: -170px;
$spt-keyLeft-width: 32px;
$spt-keyLeft-height: 32px;
$spt-keyLeft-total-width: 241px;
$spt-keyLeft-total-height: 239px;
$spt-keyLeft-image: '../images/helpSprites.png';
$spt-keyLeft: (111px, 170px, -111px, -170px, 32px, 32px, 241px, 239px, '../images/helpSprites.png', 'spt-keyLeft');
$spt-keyPgDn-name: 'spt-keyPgDn';
$spt-keyPgDn-x: 37px;
$spt-keyPgDn-y: 170px;
$spt-keyPgDn-offset-x: -37px;
$spt-keyPgDn-offset-y: -170px;
$spt-keyPgDn-width: 32px;
$spt-keyPgDn-height: 32px;
$spt-keyPgDn-total-width: 241px;
$spt-keyPgDn-total-height: 239px;
$spt-keyPgDn-image: '../images/helpSprites.png';
$spt-keyPgDn: (37px, 170px, -37px, -170px, 32px, 32px, 241px, 239px, '../images/helpSprites.png', 'spt-keyPgDn');
$spt-keyPgUp-name: 'spt-keyPgUp';
$spt-keyPgUp-x: 148px;
$spt-keyPgUp-y: 170px;
$spt-keyPgUp-offset-x: -148px;
$spt-keyPgUp-offset-y: -170px;
$spt-keyPgUp-width: 32px;
$spt-keyPgUp-height: 32px;
$spt-keyPgUp-total-width: 241px;
$spt-keyPgUp-total-height: 239px;
$spt-keyPgUp-image: '../images/helpSprites.png';
$spt-keyPgUp: (148px, 170px, -148px, -170px, 32px, 32px, 241px, 239px, '../images/helpSprites.png', 'spt-keyPgUp');
$spt-keyRight-name: 'spt-keyRight';
$spt-keyRight-x: 0;
$spt-keyRight-y: 207px;
$spt-keyRight-offset-x: 0;
$spt-keyRight-offset-y: -207px;
$spt-keyRight-width: 32px;
$spt-keyRight-height: 32px;
$spt-keyRight-total-width: 241px;
$spt-keyRight-total-height: 239px;
$spt-keyRight-image: '../images/helpSprites.png';
$spt-keyRight: (0, 207px, 0, -207px, 32px, 32px, 241px, 239px, '../images/helpSprites.png', 'spt-keyRight');
$spt-keyUp-name: 'spt-keyUp';
$spt-keyUp-x: 0;
$spt-keyUp-y: 170px;
$spt-keyUp-offset-x: 0;
$spt-keyUp-offset-y: -170px;
$spt-keyUp-width: 32px;
$spt-keyUp-height: 32px;
$spt-keyUp-total-width: 241px;
$spt-keyUp-total-height: 239px;
$spt-keyUp-image: '../images/helpSprites.png';
$spt-keyUp: (0, 170px, 0, -170px, 32px, 32px, 241px, 239px, '../images/helpSprites.png', 'spt-keyUp');
$spt-mouseLeft-name: 'spt-mouseLeft';
$spt-mouseLeft-x: 91px;
$spt-mouseLeft-y: 0;
$spt-mouseLeft-offset-x: -91px;
$spt-mouseLeft-offset-y: 0;
$spt-mouseLeft-width: 86px;
$spt-mouseLeft-height: 62px;
$spt-mouseLeft-total-width: 241px;
$spt-mouseLeft-total-height: 239px;
$spt-mouseLeft-image: '../images/helpSprites.png';
$spt-mouseLeft: (91px, 0, -91px, 0, 86px, 62px, 241px, 239px, '../images/helpSprites.png', 'spt-mouseLeft');
$spt-mouseRight-name: 'spt-mouseRight';
$spt-mouseRight-x: 0;
$spt-mouseRight-y: 0;
$spt-mouseRight-offset-x: 0;
$spt-mouseRight-offset-y: 0;
$spt-mouseRight-width: 86px;
$spt-mouseRight-height: 62px;
$spt-mouseRight-total-width: 241px;
$spt-mouseRight-total-height: 239px;
$spt-mouseRight-image: '../images/helpSprites.png';
$spt-mouseRight: (0, 0, 0, 0, 86px, 62px, 241px, 239px, '../images/helpSprites.png', 'spt-mouseRight');
$spt-mouseWheel-name: 'spt-mouseWheel';
$spt-mouseWheel-x: 182px;
$spt-mouseWheel-y: 66px;
$spt-mouseWheel-offset-x: -182px;
$spt-mouseWheel-offset-y: -66px;
$spt-mouseWheel-width: 36px;
$spt-mouseWheel-height: 72px;
$spt-mouseWheel-total-width: 241px;
$spt-mouseWheel-total-height: 239px;
$spt-mouseWheel-image: '../images/helpSprites.png';
$spt-mouseWheel: (182px, 66px, -182px, -66px, 36px, 72px, 241px, 239px, '../images/helpSprites.png', 'spt-mouseWheel');
$spt-pinch-name: 'spt-pinch';
$spt-pinch-x: 82px;
$spt-pinch-y: 67px;
$spt-pinch-offset-x: -82px;
$spt-pinch-offset-y: -67px;
$spt-pinch-width: 62px;
$spt-pinch-height: 60px;
$spt-pinch-total-width: 241px;
$spt-pinch-total-height: 239px;
$spt-pinch-image: '../images/helpSprites.png';
$spt-pinch: (82px, 67px, -82px, -67px, 62px, 60px, 241px, 239px, '../images/helpSprites.png', 'spt-pinch');
$spt-singleSwipe-name: 'spt-singleSwipe';
$spt-singleSwipe-x: 182px;
$spt-singleSwipe-y: 0;
$spt-singleSwipe-offset-x: -182px;
$spt-singleSwipe-offset-y: 0;
$spt-singleSwipe-width: 59px;
$spt-singleSwipe-height: 61px;
$spt-singleSwipe-total-width: 241px;
$spt-singleSwipe-total-height: 239px;
$spt-singleSwipe-image: '../images/helpSprites.png';
$spt-singleSwipe: (182px, 0, -182px, 0, 59px, 61px, 241px, 239px, '../images/helpSprites.png', 'spt-singleSwipe');
$spt-space-name: 'spt-space';
$spt-space-x: 0;
$spt-space-y: 133px;
$spt-space-offset-x: 0;
$spt-space-offset-y: -133px;
$spt-space-width: 115px;
$spt-space-height: 32px;
$spt-space-total-width: 241px;
$spt-space-total-height: 239px;
$spt-space-image: '../images/helpSprites.png';
$spt-space: (0, 133px, 0, -133px, 115px, 32px, 241px, 239px, '../images/helpSprites.png', 'spt-space');
$ssh-helpSprites-width: 241px;
$ssh-helpSprites-height: 239px;
$ssh-helpSprites-image: '../images/helpSprites.png';
$ssh-helpSprites-sprites: ($spt-doubleSwipe, $spt-key1, $spt-key2, $spt-keyDown, $spt-keyLeft, $spt-keyPgDn, $spt-keyPgUp, $spt-keyRight, $spt-keyUp, $spt-mouseLeft, $spt-mouseRight, $spt-mouseWheel, $spt-pinch, $spt-singleSwipe, $spt-space);
$ssh-helpSprites: (241px, 239px, '../images/helpSprites.png', $ssh-helpSprites-sprites);

@mixin ssh-helpSprites {

  %ssh-helpSprites {
    background-image: url(nth($ssh-helpSprites, 3));
  }

}



// helpSprites@2x.png

$spt-doubleSwipe-2x-name: 'spt-doubleSwipe@2x';
$spt-doubleSwipe-2x-x: 0;
$spt-doubleSwipe-2x-y: 134px;
$spt-doubleSwipe-2x-offset-x: 0;
$spt-doubleSwipe-2x-offset-y: -134px;
$spt-doubleSwipe-2x-width: 154px;
$spt-doubleSwipe-2x-height: 122px;
$spt-doubleSwipe-2x-total-width: 482px;
$spt-doubleSwipe-2x-total-height: 478px;
$spt-doubleSwipe-2x-image: '../images/helpSprites@2x.png';
$spt-doubleSwipe-2x: (0, 134px, 0, -134px, 154px, 122px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-doubleSwipe@2x');
$spt-key1-2x-name: 'spt-key1@2x';
$spt-key1-2x-x: 370px;
$spt-key1-2x-y: 340px;
$spt-key1-2x-offset-x: -370px;
$spt-key1-2x-offset-y: -340px;
$spt-key1-2x-width: 64px;
$spt-key1-2x-height: 64px;
$spt-key1-2x-total-width: 482px;
$spt-key1-2x-total-height: 478px;
$spt-key1-2x-image: '../images/helpSprites@2x.png';
$spt-key1-2x: (370px, 340px, -370px, -340px, 64px, 64px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-key1@2x');
$spt-key2-2x-name: 'spt-key2@2x';
$spt-key2-2x-x: 148px;
$spt-key2-2x-y: 340px;
$spt-key2-2x-offset-x: -148px;
$spt-key2-2x-offset-y: -340px;
$spt-key2-2x-width: 64px;
$spt-key2-2x-height: 64px;
$spt-key2-2x-total-width: 482px;
$spt-key2-2x-total-height: 478px;
$spt-key2-2x-image: '../images/helpSprites@2x.png';
$spt-key2-2x: (148px, 340px, -148px, -340px, 64px, 64px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-key2@2x');
$spt-keyDown-2x-name: 'spt-keyDown@2x';
$spt-keyDown-2x-x: 240px;
$spt-keyDown-2x-y: 266px;
$spt-keyDown-2x-offset-x: -240px;
$spt-keyDown-2x-offset-y: -266px;
$spt-keyDown-2x-width: 64px;
$spt-keyDown-2x-height: 64px;
$spt-keyDown-2x-total-width: 482px;
$spt-keyDown-2x-total-height: 478px;
$spt-keyDown-2x-image: '../images/helpSprites@2x.png';
$spt-keyDown-2x: (240px, 266px, -240px, -266px, 64px, 64px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-keyDown@2x');
$spt-keyLeft-2x-name: 'spt-keyLeft@2x';
$spt-keyLeft-2x-x: 222px;
$spt-keyLeft-2x-y: 340px;
$spt-keyLeft-2x-offset-x: -222px;
$spt-keyLeft-2x-offset-y: -340px;
$spt-keyLeft-2x-width: 64px;
$spt-keyLeft-2x-height: 64px;
$spt-keyLeft-2x-total-width: 482px;
$spt-keyLeft-2x-total-height: 478px;
$spt-keyLeft-2x-image: '../images/helpSprites@2x.png';
$spt-keyLeft-2x: (222px, 340px, -222px, -340px, 64px, 64px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-keyLeft@2x');
$spt-keyPgDn-2x-name: 'spt-keyPgDn@2x';
$spt-keyPgDn-2x-x: 74px;
$spt-keyPgDn-2x-y: 340px;
$spt-keyPgDn-2x-offset-x: -74px;
$spt-keyPgDn-2x-offset-y: -340px;
$spt-keyPgDn-2x-width: 64px;
$spt-keyPgDn-2x-height: 64px;
$spt-keyPgDn-2x-total-width: 482px;
$spt-keyPgDn-2x-total-height: 478px;
$spt-keyPgDn-2x-image: '../images/helpSprites@2x.png';
$spt-keyPgDn-2x: (74px, 340px, -74px, -340px, 64px, 64px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-keyPgDn@2x');
$spt-keyPgUp-2x-name: 'spt-keyPgUp@2x';
$spt-keyPgUp-2x-x: 296px;
$spt-keyPgUp-2x-y: 340px;
$spt-keyPgUp-2x-offset-x: -296px;
$spt-keyPgUp-2x-offset-y: -340px;
$spt-keyPgUp-2x-width: 64px;
$spt-keyPgUp-2x-height: 64px;
$spt-keyPgUp-2x-total-width: 482px;
$spt-keyPgUp-2x-total-height: 478px;
$spt-keyPgUp-2x-image: '../images/helpSprites@2x.png';
$spt-keyPgUp-2x: (296px, 340px, -296px, -340px, 64px, 64px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-keyPgUp@2x');
$spt-keyRight-2x-name: 'spt-keyRight@2x';
$spt-keyRight-2x-x: 0;
$spt-keyRight-2x-y: 414px;
$spt-keyRight-2x-offset-x: 0;
$spt-keyRight-2x-offset-y: -414px;
$spt-keyRight-2x-width: 64px;
$spt-keyRight-2x-height: 64px;
$spt-keyRight-2x-total-width: 482px;
$spt-keyRight-2x-total-height: 478px;
$spt-keyRight-2x-image: '../images/helpSprites@2x.png';
$spt-keyRight-2x: (0, 414px, 0, -414px, 64px, 64px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-keyRight@2x');
$spt-keyUp-2x-name: 'spt-keyUp@2x';
$spt-keyUp-2x-x: 0;
$spt-keyUp-2x-y: 340px;
$spt-keyUp-2x-offset-x: 0;
$spt-keyUp-2x-offset-y: -340px;
$spt-keyUp-2x-width: 64px;
$spt-keyUp-2x-height: 64px;
$spt-keyUp-2x-total-width: 482px;
$spt-keyUp-2x-total-height: 478px;
$spt-keyUp-2x-image: '../images/helpSprites@2x.png';
$spt-keyUp-2x: (0, 340px, 0, -340px, 64px, 64px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-keyUp@2x');
$spt-mouseLeft-2x-name: 'spt-mouseLeft@2x';
$spt-mouseLeft-2x-x: 182px;
$spt-mouseLeft-2x-y: 0;
$spt-mouseLeft-2x-offset-x: -182px;
$spt-mouseLeft-2x-offset-y: 0;
$spt-mouseLeft-2x-width: 172px;
$spt-mouseLeft-2x-height: 124px;
$spt-mouseLeft-2x-total-width: 482px;
$spt-mouseLeft-2x-total-height: 478px;
$spt-mouseLeft-2x-image: '../images/helpSprites@2x.png';
$spt-mouseLeft-2x: (182px, 0, -182px, 0, 172px, 124px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-mouseLeft@2x');
$spt-mouseRight-2x-name: 'spt-mouseRight@2x';
$spt-mouseRight-2x-x: 0;
$spt-mouseRight-2x-y: 0;
$spt-mouseRight-2x-offset-x: 0;
$spt-mouseRight-2x-offset-y: 0;
$spt-mouseRight-2x-width: 172px;
$spt-mouseRight-2x-height: 124px;
$spt-mouseRight-2x-total-width: 482px;
$spt-mouseRight-2x-total-height: 478px;
$spt-mouseRight-2x-image: '../images/helpSprites@2x.png';
$spt-mouseRight-2x: (0, 0, 0, 0, 172px, 124px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-mouseRight@2x');
$spt-mouseWheel-2x-name: 'spt-mouseWheel@2x';
$spt-mouseWheel-2x-x: 364px;
$spt-mouseWheel-2x-y: 132px;
$spt-mouseWheel-2x-offset-x: -364px;
$spt-mouseWheel-2x-offset-y: -132px;
$spt-mouseWheel-2x-width: 72px;
$spt-mouseWheel-2x-height: 144px;
$spt-mouseWheel-2x-total-width: 482px;
$spt-mouseWheel-2x-total-height: 478px;
$spt-mouseWheel-2x-image: '../images/helpSprites@2x.png';
$spt-mouseWheel-2x: (364px, 132px, -364px, -132px, 72px, 144px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-mouseWheel@2x');
$spt-pinch-2x-name: 'spt-pinch@2x';
$spt-pinch-2x-x: 164px;
$spt-pinch-2x-y: 134px;
$spt-pinch-2x-offset-x: -164px;
$spt-pinch-2x-offset-y: -134px;
$spt-pinch-2x-width: 124px;
$spt-pinch-2x-height: 120px;
$spt-pinch-2x-total-width: 482px;
$spt-pinch-2x-total-height: 478px;
$spt-pinch-2x-image: '../images/helpSprites@2x.png';
$spt-pinch-2x: (164px, 134px, -164px, -134px, 124px, 120px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-pinch@2x');
$spt-singleSwipe-2x-name: 'spt-singleSwipe@2x';
$spt-singleSwipe-2x-x: 364px;
$spt-singleSwipe-2x-y: 0;
$spt-singleSwipe-2x-offset-x: -364px;
$spt-singleSwipe-2x-offset-y: 0;
$spt-singleSwipe-2x-width: 118px;
$spt-singleSwipe-2x-height: 122px;
$spt-singleSwipe-2x-total-width: 482px;
$spt-singleSwipe-2x-total-height: 478px;
$spt-singleSwipe-2x-image: '../images/helpSprites@2x.png';
$spt-singleSwipe-2x: (364px, 0, -364px, 0, 118px, 122px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-singleSwipe@2x');
$spt-space-2x-name: 'spt-space@2x';
$spt-space-2x-x: 0;
$spt-space-2x-y: 266px;
$spt-space-2x-offset-x: 0;
$spt-space-2x-offset-y: -266px;
$spt-space-2x-width: 230px;
$spt-space-2x-height: 64px;
$spt-space-2x-total-width: 482px;
$spt-space-2x-total-height: 478px;
$spt-space-2x-image: '../images/helpSprites@2x.png';
$spt-space-2x: (0, 266px, 0, -266px, 230px, 64px, 482px, 478px, '../images/helpSprites@2x.png', 'spt-space@2x');
$ssh-helpSprites-2x-width: 482px;
$ssh-helpSprites-2x-height: 478px;
$ssh-helpSprites-2x-image: '../images/helpSprites@2x.png';
$ssh-helpSprites-2x-sprites: ($spt-doubleSwipe-2x, $spt-key1-2x, $spt-key2-2x, $spt-keyDown-2x, $spt-keyLeft-2x, $spt-keyPgDn-2x, $spt-keyPgUp-2x, $spt-keyRight-2x, $spt-keyUp-2x, $spt-mouseLeft-2x, $spt-mouseRight-2x, $spt-mouseWheel-2x, $spt-pinch-2x, $spt-singleSwipe-2x, $spt-space-2x);
$ssh-helpSprites-2x: (482px, 478px, '../images/helpSprites@2x.png', $ssh-helpSprites-2x-sprites);

@mixin ssh-helpSprites-2x {

  %ssh-helpSprites {
    background-image: url(nth($ssh-helpSprites-2x, 3));
    background-size: #{nth($ssh-helpSprites, 1)} #{nth($ssh-helpSprites, 2)};
  }

}



// helpSprites@3x.png

$spt-doubleSwipe-3x-name: 'spt-doubleSwipe@3x';
$spt-doubleSwipe-3x-x: 0;
$spt-doubleSwipe-3x-y: 201px;
$spt-doubleSwipe-3x-offset-x: 0;
$spt-doubleSwipe-3x-offset-y: -201px;
$spt-doubleSwipe-3x-width: 231px;
$spt-doubleSwipe-3x-height: 183px;
$spt-doubleSwipe-3x-total-width: 723px;
$spt-doubleSwipe-3x-total-height: 717px;
$spt-doubleSwipe-3x-image: '../images/helpSprites@3x.png';
$spt-doubleSwipe-3x: (0, 201px, 0, -201px, 231px, 183px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-doubleSwipe@3x');
$spt-key1-3x-name: 'spt-key1@3x';
$spt-key1-3x-x: 555px;
$spt-key1-3x-y: 510px;
$spt-key1-3x-offset-x: -555px;
$spt-key1-3x-offset-y: -510px;
$spt-key1-3x-width: 96px;
$spt-key1-3x-height: 96px;
$spt-key1-3x-total-width: 723px;
$spt-key1-3x-total-height: 717px;
$spt-key1-3x-image: '../images/helpSprites@3x.png';
$spt-key1-3x: (555px, 510px, -555px, -510px, 96px, 96px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-key1@3x');
$spt-key2-3x-name: 'spt-key2@3x';
$spt-key2-3x-x: 222px;
$spt-key2-3x-y: 510px;
$spt-key2-3x-offset-x: -222px;
$spt-key2-3x-offset-y: -510px;
$spt-key2-3x-width: 96px;
$spt-key2-3x-height: 96px;
$spt-key2-3x-total-width: 723px;
$spt-key2-3x-total-height: 717px;
$spt-key2-3x-image: '../images/helpSprites@3x.png';
$spt-key2-3x: (222px, 510px, -222px, -510px, 96px, 96px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-key2@3x');
$spt-keyDown-3x-name: 'spt-keyDown@3x';
$spt-keyDown-3x-x: 360px;
$spt-keyDown-3x-y: 399px;
$spt-keyDown-3x-offset-x: -360px;
$spt-keyDown-3x-offset-y: -399px;
$spt-keyDown-3x-width: 96px;
$spt-keyDown-3x-height: 96px;
$spt-keyDown-3x-total-width: 723px;
$spt-keyDown-3x-total-height: 717px;
$spt-keyDown-3x-image: '../images/helpSprites@3x.png';
$spt-keyDown-3x: (360px, 399px, -360px, -399px, 96px, 96px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-keyDown@3x');
$spt-keyLeft-3x-name: 'spt-keyLeft@3x';
$spt-keyLeft-3x-x: 333px;
$spt-keyLeft-3x-y: 510px;
$spt-keyLeft-3x-offset-x: -333px;
$spt-keyLeft-3x-offset-y: -510px;
$spt-keyLeft-3x-width: 96px;
$spt-keyLeft-3x-height: 96px;
$spt-keyLeft-3x-total-width: 723px;
$spt-keyLeft-3x-total-height: 717px;
$spt-keyLeft-3x-image: '../images/helpSprites@3x.png';
$spt-keyLeft-3x: (333px, 510px, -333px, -510px, 96px, 96px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-keyLeft@3x');
$spt-keyPgDn-3x-name: 'spt-keyPgDn@3x';
$spt-keyPgDn-3x-x: 111px;
$spt-keyPgDn-3x-y: 510px;
$spt-keyPgDn-3x-offset-x: -111px;
$spt-keyPgDn-3x-offset-y: -510px;
$spt-keyPgDn-3x-width: 96px;
$spt-keyPgDn-3x-height: 96px;
$spt-keyPgDn-3x-total-width: 723px;
$spt-keyPgDn-3x-total-height: 717px;
$spt-keyPgDn-3x-image: '../images/helpSprites@3x.png';
$spt-keyPgDn-3x: (111px, 510px, -111px, -510px, 96px, 96px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-keyPgDn@3x');
$spt-keyPgUp-3x-name: 'spt-keyPgUp@3x';
$spt-keyPgUp-3x-x: 444px;
$spt-keyPgUp-3x-y: 510px;
$spt-keyPgUp-3x-offset-x: -444px;
$spt-keyPgUp-3x-offset-y: -510px;
$spt-keyPgUp-3x-width: 96px;
$spt-keyPgUp-3x-height: 96px;
$spt-keyPgUp-3x-total-width: 723px;
$spt-keyPgUp-3x-total-height: 717px;
$spt-keyPgUp-3x-image: '../images/helpSprites@3x.png';
$spt-keyPgUp-3x: (444px, 510px, -444px, -510px, 96px, 96px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-keyPgUp@3x');
$spt-keyRight-3x-name: 'spt-keyRight@3x';
$spt-keyRight-3x-x: 0;
$spt-keyRight-3x-y: 621px;
$spt-keyRight-3x-offset-x: 0;
$spt-keyRight-3x-offset-y: -621px;
$spt-keyRight-3x-width: 96px;
$spt-keyRight-3x-height: 96px;
$spt-keyRight-3x-total-width: 723px;
$spt-keyRight-3x-total-height: 717px;
$spt-keyRight-3x-image: '../images/helpSprites@3x.png';
$spt-keyRight-3x: (0, 621px, 0, -621px, 96px, 96px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-keyRight@3x');
$spt-keyUp-3x-name: 'spt-keyUp@3x';
$spt-keyUp-3x-x: 0;
$spt-keyUp-3x-y: 510px;
$spt-keyUp-3x-offset-x: 0;
$spt-keyUp-3x-offset-y: -510px;
$spt-keyUp-3x-width: 96px;
$spt-keyUp-3x-height: 96px;
$spt-keyUp-3x-total-width: 723px;
$spt-keyUp-3x-total-height: 717px;
$spt-keyUp-3x-image: '../images/helpSprites@3x.png';
$spt-keyUp-3x: (0, 510px, 0, -510px, 96px, 96px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-keyUp@3x');
$spt-mouseLeft-3x-name: 'spt-mouseLeft@3x';
$spt-mouseLeft-3x-x: 273px;
$spt-mouseLeft-3x-y: 0;
$spt-mouseLeft-3x-offset-x: -273px;
$spt-mouseLeft-3x-offset-y: 0;
$spt-mouseLeft-3x-width: 258px;
$spt-mouseLeft-3x-height: 186px;
$spt-mouseLeft-3x-total-width: 723px;
$spt-mouseLeft-3x-total-height: 717px;
$spt-mouseLeft-3x-image: '../images/helpSprites@3x.png';
$spt-mouseLeft-3x: (273px, 0, -273px, 0, 258px, 186px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-mouseLeft@3x');
$spt-mouseRight-3x-name: 'spt-mouseRight@3x';
$spt-mouseRight-3x-x: 0;
$spt-mouseRight-3x-y: 0;
$spt-mouseRight-3x-offset-x: 0;
$spt-mouseRight-3x-offset-y: 0;
$spt-mouseRight-3x-width: 258px;
$spt-mouseRight-3x-height: 186px;
$spt-mouseRight-3x-total-width: 723px;
$spt-mouseRight-3x-total-height: 717px;
$spt-mouseRight-3x-image: '../images/helpSprites@3x.png';
$spt-mouseRight-3x: (0, 0, 0, 0, 258px, 186px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-mouseRight@3x');
$spt-mouseWheel-3x-name: 'spt-mouseWheel@3x';
$spt-mouseWheel-3x-x: 546px;
$spt-mouseWheel-3x-y: 198px;
$spt-mouseWheel-3x-offset-x: -546px;
$spt-mouseWheel-3x-offset-y: -198px;
$spt-mouseWheel-3x-width: 108px;
$spt-mouseWheel-3x-height: 216px;
$spt-mouseWheel-3x-total-width: 723px;
$spt-mouseWheel-3x-total-height: 717px;
$spt-mouseWheel-3x-image: '../images/helpSprites@3x.png';
$spt-mouseWheel-3x: (546px, 198px, -546px, -198px, 108px, 216px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-mouseWheel@3x');
$spt-pinch-3x-name: 'spt-pinch@3x';
$spt-pinch-3x-x: 246px;
$spt-pinch-3x-y: 201px;
$spt-pinch-3x-offset-x: -246px;
$spt-pinch-3x-offset-y: -201px;
$spt-pinch-3x-width: 186px;
$spt-pinch-3x-height: 180px;
$spt-pinch-3x-total-width: 723px;
$spt-pinch-3x-total-height: 717px;
$spt-pinch-3x-image: '../images/helpSprites@3x.png';
$spt-pinch-3x: (246px, 201px, -246px, -201px, 186px, 180px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-pinch@3x');
$spt-singleSwipe-3x-name: 'spt-singleSwipe@3x';
$spt-singleSwipe-3x-x: 546px;
$spt-singleSwipe-3x-y: 0;
$spt-singleSwipe-3x-offset-x: -546px;
$spt-singleSwipe-3x-offset-y: 0;
$spt-singleSwipe-3x-width: 177px;
$spt-singleSwipe-3x-height: 183px;
$spt-singleSwipe-3x-total-width: 723px;
$spt-singleSwipe-3x-total-height: 717px;
$spt-singleSwipe-3x-image: '../images/helpSprites@3x.png';
$spt-singleSwipe-3x: (546px, 0, -546px, 0, 177px, 183px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-singleSwipe@3x');
$spt-space-3x-name: 'spt-space@3x';
$spt-space-3x-x: 0;
$spt-space-3x-y: 399px;
$spt-space-3x-offset-x: 0;
$spt-space-3x-offset-y: -399px;
$spt-space-3x-width: 345px;
$spt-space-3x-height: 96px;
$spt-space-3x-total-width: 723px;
$spt-space-3x-total-height: 717px;
$spt-space-3x-image: '../images/helpSprites@3x.png';
$spt-space-3x: (0, 399px, 0, -399px, 345px, 96px, 723px, 717px, '../images/helpSprites@3x.png', 'spt-space@3x');
$ssh-helpSprites-3x-width: 723px;
$ssh-helpSprites-3x-height: 717px;
$ssh-helpSprites-3x-image: '../images/helpSprites@3x.png';
$ssh-helpSprites-3x-sprites: ($spt-doubleSwipe-3x, $spt-key1-3x, $spt-key2-3x, $spt-keyDown-3x, $spt-keyLeft-3x, $spt-keyPgDn-3x, $spt-keyPgUp-3x, $spt-keyRight-3x, $spt-keyUp-3x, $spt-mouseLeft-3x, $spt-mouseRight-3x, $spt-mouseWheel-3x, $spt-pinch-3x, $spt-singleSwipe-3x, $spt-space-3x);
$ssh-helpSprites-3x: (723px, 717px, '../images/helpSprites@3x.png', $ssh-helpSprites-3x-sprites);

@mixin ssh-helpSprites-3x {

  %ssh-helpSprites {
    background-image: url(nth($ssh-helpSprites-3x, 3));
    background-size: #{nth($ssh-helpSprites, 1)} #{nth($ssh-helpSprites, 2)};
  }

}
